---
title: BST 2016 第4戦 大会結果
description: 2016年6月14日（火）に開催された東京湾No.1ボートシーバスアングラーを決めるトーナメント「BTS 2016」第4戦の大会結果です。
---
- weiin = []
- fish_size = [] 
- data.result2016.round4.each do |f|
  - f.result.each do |size|
    - fish_size.push(size)
  - weiin.push(f.result.length)
- weiin5 = weiin.count(5)
- weiin4 = weiin.count(4)
- weiin3 = weiin.count(3)
- weiin2 = weiin.count(2)
- weiin1 = weiin.count(1)
- weiin0 = weiin.count(0)
= partial "shared/global_navigation", :locals => {:val => "results"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li
      = link_to "/results/", itemprop: "url" do
        %span{itemprop: "title"} 大会結果
      %i.fa.fa-angle-right
    %li BST 2016 第4戦 大会結果
#imagepanel_result
  #imagepanel_result_inner.result2016_04
    .layer
      %h1 BST 2016 第4戦 大会結果
%article#content
  #content_inner
    #main_column.double
      %section#ranking_table
        .chairmans_comment
          %dl
            %dt
              %i.fa.fa-comment
              総評
            %dd
              %p.comment
                今回は天候にも恵まれ、風も比較的弱い1日となりましたが、風向きが東よりと悪く、横浜沖は波のある状態。<br>
                前日の大雨で状況が一変したエリア、状況が変わらないエリア。<br>
                このエリア選択が勝敗の分かれ道となったようですね。<br>
                前回同様、厳しい状況が続き、リミット5本揃えられたのも若干7名。<br>
                ウェイインされた魚は50cm前後が多く、60upは僅か3本！！<br>
                そんな中、前回に引き続きの安定した釣果で堂々の優勝となったICFC遠藤選手。<br>
                BST4年の歴史で初の連覇。
              %p.comment
                さて、次戦はさらに水温は上がる厳しい時期、遠藤選手を止められるのは誰かな？！！
              %p.writer
                （実行委員 斎藤）
        %table
          %caption 本吉選手はスポット参戦
          %thead
            %tr
              %th No.
              %th Name
              %th boat
              %th 1st
              %th 2nd
              %th 3rd
              %th 4th
              %th 5th
              %th Total
          %tbody
            - data.result2016.round4.each do |f|
              %tr
                %td= f.rank
                %td
                  %span.ruby= f.angler[1]
                  = f.angler[0]
                %td= f.angler[2]
                %td= f.result[0]
                %td= f.result[1]
                %td= f.result[2]
                %td= f.result[3]
                %td= f.result[4]
                %td= f.result[0].to_f + f.result[1].to_f + f.result[2].to_f + f.result[3].to_f + f.result[4].to_f
          %tfoot
            %tr
              %th No.
              %th Name
              %th boat
              %th 1st
              %th 2nd
              %th 3rd
              %th 4th
              %th 5th
              %th Total
      %section#interviews
        %h1
          %i.fa.fa-trophy
          上位3名の紹介
        .interview
          %h2 優勝：遠藤 正明 選手（アイランドクルーズ）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
          .screen.comment_area.active
            = image_tag("results/2016/img_pic-round4-1.jpg", alt: "遠藤 正明 選手（アイランドクルーズ）", width: "600", height: "400")
            %p
              今大会では、時期的に水のいいエリア（ベイトの濃い）を見つけられたことが良かったと思います。<br>
              他の選手とポイントが被らなかったことも◯<br>
              だれもやらないブルーオーシャンを見つけて誰よりも大きいシーバスを活かして持って変えることが何よりも楽しいのであります。<br>
              年間ランキングトップ タイ！　タイ？<br>
              あと一歩頑張ります！<br>
              ブログに普段とは違ってまじめにシーバス釣りのこと少しだけ書いてます。
            %p
              %i.fa.fa-link
              = link_to "アイクルえんどうまさあきのブログ", "//ameblo.jp/masaakiendo/", target: "_blank"
          .screen.tackles_area
            = image_tag("results/2016/img_pic-round4-1tackles.jpg", alt: "遠藤 正明 選手の使用タックル", width: "600", height: "400")
            %table
              %thead
                %tr
                  %th No.
                  %th Rod
                  %th Reel
                  %th Line
                  %th Leader
              %tbody
                %tr
                  %th 1
                  %td 非公開
                  %td
                    = link_to "DAIWA LUVIAS 3012H", "//daiwa-fishingshow.globeride.jp/2015aw/luvias/", target: "_blank"
                    = link_to "S.O.M CUSTOM", "//www.studio-oceanmark.com/", target: "_blank"
                  %td= link_to "YGK G-SOUL X8 UPGRADE 1.5", "http://yoz-ami.jp/259", target: "_blank"
                  %td= link_to "YGK GALIS SHORE LEADER 20lb", "http://yoz-ami.jp/235", target: "_blank"
                %tr
                  %th 2
                  %td 非公開
                  %td
                    = link_to "DAIWA CERTATE 3012H", "//www.daiwaweb.com/global/ja/fishingshow/2016ss/certate/index.html", target: "_blank"
                    = link_to "S.O.M CUSTOM", "//www.studio-oceanmark.com/", target: "_blank"
                  %td= link_to "YGK G-SOUL X8 UPGRADE 1.5", "http://yoz-ami.jp/259", target: "_blank"
                  %td= link_to "YGK GALIS SHORE LEADER 20lb", "http://yoz-ami.jp/235", target: "_blank"
            %ul
              %li
                %i.fa.fa-caret-right
                = link_to "O.S.P VARUNA 110S(ICFC W-CHART KONOSHIRO)", "//www.o-s-p.net/products/asura-o-s-p-varuna-110-s/", target: "_blank"
              %li
                %i.fa.fa-caret-right
                = link_to "DAIWA MORETHAN SALTVIB", "//www.daiwaweb.com/jp/fishing/item/lure/sea_le/mt_saltvib/index.html", target: "_blank"
              %li
                %i.fa.fa-caret-right
                = link_to "JACKALL BIG BACKER 107", "//www.jackall.co.jp/saltwater/products/lure/sea_bass/big-backer107/", target: "_blank"
        .interview
          %h2 準優勝：池上 日明 選手（D-marina）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
          .screen.comment_area.active
            = image_tag("results/2016/img_pic-round4-2.jpg", alt: "池上 日明 選手（D-marina）", width: "600", height: "400")
            %p
            %p
              %i.fa.fa-link
              = link_to "池ちゃんの休憩室", "//www.fimosw.com/u/ikechan", target: "_blank"
          .screen.tackles_area
            = image_tag("results/2016/img_pic-round4-2tackles.jpg", alt: "池上 日明 選手の使用タックル", width: "600", height: "400")
            %table
              %thead
                %tr
                  %th No.
                  %th Rod
                  %th Reel
                  %th Line
                  %th Leader
              %tbody
                %tr
                  %th 1
                  %td JACKSON ボートシーバスロッドサンプル
                  %td= link_to "SHIMANO METANIUM MGL HG", "//fishing.shimano.co.jp/product/reel/4353", target: "_blank"
                  %td= link_to "VARIVAS ハイグレードPE 1.2", "//www.varivas.co.jp/Product/searchgroup/name:%E3%83%8F%E3%82%A4%E3%82%B0%E3%83%AC%E3%83%BC%E3%83%89PE/type:/view3:2/id:4204", target: "_blank"
                  %td= link_to "VARIVAS ショックリーダーフロロ 20lb", "//varivas.co.jp/Product/searchgroup/name:%E3%82%B7%E3%83%A7%E3%83%83%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%80%E3%83%BC/type:%EF%BC%BB%E3%83%95%E3%83%AD%E3%83%AD%E3%82%AB%E3%83%BC%E3%83%9C%E3%83%B3%EF%BC%BD/view3:2/id:2077", target: "_blank"
                %tr
                  %th 2
                  %td= link_to "DAIWA ブラックレーベルFM661LRB", "//www.daiwaweb.com/jp/fishing/item/rod/bass_rd/bl_fm/", target: "_blank"
                  %td= link_to "DAIWA ジリオンSVTWSH", "//www.daiwa.com/jp/fishing/item/reel/bait_rl/zillion_sv_tw/index.html", target: "_blank"
                  %td= link_to "VARIVAS ハイグレードPE 1.2", "//www.varivas.co.jp/Product/searchgroup/name:%E3%83%8F%E3%82%A4%E3%82%B0%E3%83%AC%E3%83%BC%E3%83%89PE/type:/view3:2/id:4204", target: "_blank"
                  %td= link_to "VARIVAS ショックリーダーフロロ 20lb", "//varivas.co.jp/Product/searchgroup/name:%E3%82%B7%E3%83%A7%E3%83%83%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%80%E3%83%BC/type:%EF%BC%BB%E3%83%95%E3%83%AD%E3%83%AD%E3%82%AB%E3%83%BC%E3%83%9C%E3%83%B3%EF%BC%BD/view3:2/id:2077", target: "_blank"
                %tr
                  %th 3
                  %td= link_to "SHIMANO ワールドシャウラ1653", "//fishing.shimano.co.jp/product/rod/1675", target: "_blank"
                  %td= link_to "SHIMANO カルカッタコンクエスト200HG", "//fishing.shimano.co.jp/product/reel/3826", target: "_blank"
                  %td= link_to "VARIVAS アバニ ジギング10×10プレミアムPE 3.0", "", target: "_blank"
                  %td= link_to "VARIVAS ショックリーダーフロロ 30lb", "//varivas.co.jp/Product/searchgroup/name:%E3%82%B7%E3%83%A7%E3%83%83%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%80%E3%83%BC/type:%EF%BC%BB%E3%83%95%E3%83%AD%E3%83%AD%E3%82%AB%E3%83%BC%E3%83%9C%E3%83%B3%EF%BC%BD/view3:2/id:2077", target: "_blank"
            %ul
              %li
                %i.fa.fa-caret-right
                = link_to "JACKSON 鉄PAN VIB 26g", "//jackson.jp/products/detail/?products_id=40", target: "_blank"
              %li
                %i.fa.fa-caret-right
                = link_to "BLUE BLUE ナレージ65", "//bluebluefishing.com/m/products_nr.html", target: "_blank"
              %li
                %i.fa.fa-caret-right
                JACKSON ディープミノーサンプル
              %li
                %i.fa.fa-caret-right
                = link_to "JACKSON アーティストFR105", "//jackson.jp/products/detail/?products_id=101", target: "_blank"
              %li
                %i.fa.fa-caret-right
                = link_to "FLASH UNION ユニオンスイマー155SWコノシロカラーサンプル", "//www.flash-union.jp/products/?p=1290", target: "_blank"
        .interview
          %h2 3位：内田 信吾 選手（SEAWOLF）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
          .screen.comment_area.active
            = image_tag("results/2016/img_pic-round4-3.jpg", alt: "内田 信吾 選手（SEAWOLF）", width: "600", height: "400")
            %p
              今回は13艇中12番目と後方からのスタート。<br>
              当日は北東の風で、沖に出れない事もないけど魚を生かして持ち帰るには厳しいと判断して、近場のポイントで他の選手が触ってない所をと後出しジャンケン的な感じで挑みました。<br>
              出発するとさすがに近場の有力ポイントには各選手が入っていて手が出せず、そのまま隣の湾まで。ポイントに到着すると、こちらにはまだ誰も来ていない。潮的には干潮からの上げ潮なので、まずは撃てる内に低い穴から探ってみると一投目からヒット！その後も良い群れが入っている模様で、わらわらとシーバスが着いて来るのが見えたので終始穴撃ちで勝負しました。
            %p
              前回の第3戦と今回の第4戦はネイチャーボーイズ様よりラインとルアーを提供して頂きました。<br>
              初めてのスポンサーでしたので結果が出てほっとしています。<br>
              ありがとうございました！
          .screen.tackles_area
            = image_tag("results/2016/img_pic-round4-3tackles.jpg", alt: "内田 信吾 選手の使用タックル", width: "600", height: "400")
            %table
              %thead
                %tr
                  %th No.
                  %th Rod
                  %th Reel
                  %th Line
                  %th Leader
              %tbody
                %tr
                  %th 1
                  %td カーボン6.6ftオリジナル
                  %td <a href="//fishing.shimano.co.jp/" target="_blank">SHIMANO</a> 10 STELLA 3000
                  %td= link_to "FISHING FIGHTERS AIR BRAID 0.6", "//www.fishingfighters.com/airbraid.html", target: "_blank"
                  %td= link_to "RAIGLON POWER ACCEL NYLON 20lb", "//www.toalson.co.jp/fishing/r5170.html", target: "_blank"
                %tr
                  %th 2
                  %td カーボン6.6ftオリジナル
                  %td= link_to "SHIMANO CALCUTTA CONQUEST 200HG", "//fishing.shimano.co.jp/product/reel/3826", target: "_blank"
                  %td= link_to "FISHING FIGHTERS AIR BRAID 0.6", "//www.fishingfighters.com/airbraid.html", target: "_blank"
                  %td= link_to "RAIGLON POWER ACCEL NYLON 20lb", "//www.toalson.co.jp/fishing/r5170.html", target: "_blank"
            %ul
              %li
                %i.fa.fa-caret-right
                = link_to "NATURE BOYS IRON BOOSTER", "//www.e-natureboys.com/products/ironbooster.html", target: "_blank"
              %li
                %i.fa.fa-caret-right
                = link_to "NATURE BOYS BURIKO", "//www.e-natureboys.com/products/buriko.html", target: "_blank"
              %li
                %i.fa.fa-caret-right
                = link_to "NATURE BOYS SWANGER", "//www.e-natureboys.com/", target: "_blank"
    #sub_column
      %section#ranking_summary
        %h1
          %i.fa.fa-file-text-o
          ラウンドサマリー
        %table
          %tr
            %th 開催日
            %td 2015-06-14
          %tr
            %th 天気
            %td 晴
          %tr
            %th 潮
            %td 長潮
          %tr
            %th 参加者数
            %td
              - if data.result2016.round4.present? then
                = weiin.length
              - else
                0
              人
          %tr
            %th ウェイイン総数
            %td
              - if data.result2016.round4.present? then
                = fish_size.length
              - else
                0
              本
          %tr
            %th リミットメイク率
            %td
              - if data.result2016.round4.present? then
                = (weiin5.to_f / weiin.length.to_f * 100).round(2)
              - else
                0
              ％
          %tr
            %th 最大叉長
            %td 
              - if data.result2016.round4.present? then
                = fish_size.sort.last
              - else
                0
              cm
          %tr
            %th 最小叉長
            %td 
              - if data.result2016.round4.present? then
                = fish_size.sort.first
              - else
                40
              cm
          %tr
            %th 平均叉長
            %td
              - if data.result2016.round4.present? then
                - total_size = fish_size.inject{|sum, n| sum + n }
                = (total_size.to_f / fish_size.length.to_f).round(1)
              - else
                0
              cm
      :plain
        <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['ウェイイン数', '人数'],
        ['リミットメイク',     #{weiin5}],
        ['4本',      #{weiin4}],
        ['3本',  #{weiin3}],
        ['2本',      #{weiin2}],
        ['1本',  #{weiin1}],
        ['ノーフィッシュ', #{weiin0}],
        ]);
        var options = {
        title: 'ウェイイン数内訳',
        titleTextStyle:{fontSize: 16},
        legend: 'none',
        chartArea: {left:0,top:35,width:'90%',height:'90%'},
        colors: ['#2e6da4', '#4cae4c', '#46b8da', '#563d7c', '#eea236', '#d43f3a']
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
        }
        </script>
      #piechart
      - if false
        %section#image_gallery
          %h1
            %i.fa.fa-picture-o
            イメージギャラリー
          %ul
            - data.result2016.round4[3..9].each_with_index do |f, i|
              %li
                = image_tag "results/2015/round1/img_pic-gallery#{i + 4}.jpg", width: "300", height: "225", alt: "#{f.angler[0]}さん"
                %span
                  #{f.rank}位：#{f.angler[0]}さん
      = partial "shared/result_list"
