---
title: BST2017 EXラウンド05仮申し込み完了
description: BST2017 EXラウンド05エントリーフォームです。
---
= partial "shared/global_navigation", locals: {val: "entry"}
#topicpath
  %ol
    %li
      = link_to "B.S.T公式TOP", "/"
      %i.fa.fa-angle-right
    %li
      = link_to "大会エントリー", "/entry/"
      %i.fa.fa-angle-right
    %li BST2017 エクストララウンド仮申し込み完了
%article#content
  #content_inner
    #main_column.single
      %section#entryform
        %h1 BST2017 エクストララウンド仮申し込み完了
        %p.section_summary
          申し込みありがとうございます。
          %br
          お申込いただいた内容をご入力いただいたメールアドレス宛に確認メールを自動送信いたします。<br>
          %br
          ※迷惑メールフォルダに送信されてしまう場合がございますので、メールが届いてない場合はご確認ください。
        %p.section_summary
          もしFacebookをされていたら、
          = link_to "https://www.facebook.com/boatseabasstournament", target: "_blank" do
            %i.fa.fa-facebook-square
            BST ボートシーバストーナメント（Facebookページ）
          をイイネしていただけると幸いです！
        %p.section_summary
          ご不明な点などございましたら、以下へお問い合せください。
          %br
          %br
          BST 実行委員会
          %br
          %br
          神奈川県横浜市神奈川区東神奈川2-49-11
          %br
          D-marina内
          %br
          TEL : 045-461-1062
          %br
          FAX : 045-451-3187
          %br
          URL : 
          = link_to "http://www.daruma-marine.com/", "http://www.daruma-marine.com/", target: "_blank"
          %br
          Mail: marina@daruma-marine.com
        %p.section_summary
          %a{href: "/"} トップページに戻る
        %p.credit
          %span#powered_by_me
