---
title: B.S.T 2014 第2戦 大会結果
description: 2014年3月11日（火）に開催された東京湾No.1ボートシーバスアングラーを決めるトーナメント「B.T.S 2014」第2戦の大会結果です。
---
= partial "shared/global_navigation", :locals => {:val => "results"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} B.S.T公式TOP
      %i.fa.fa-angle-right
    %li
      = link_to "/results/", itemprop: "url" do
        %span{itemprop: "title"} 大会結果
      %i.fa.fa-angle-right
    %li B.S.T 2014 第2戦 大会結果
#imagepanel_result
  #imagepanel_result_inner.result2014_02
    .layer
      %h1 B.S.T 2014 第2戦 大会結果
%article#content
  #content_inner
    #main_column.double
      %section#ranking_table
        - if false
          .chairmans_comment
            %dl
              %dt
                %i.fa.fa-comment
                総評
              %dd
                %p.comment
                  さいとうさんコメントはやかわさんコメントさいとうさんコメントはやかわさんコメントさいとうさんコメントはやかわさんコメントさいとうさんコメントはやかわさんコメントさいとうさんコメントはやかわさんコメント100〜150文字が希望
                %p.writer
                  （実行委員：コメンター名）
        %table
          %caption 敬称略
          %thead
            %tr
              %th Rank
              %th Name
              %th boat
              %th 1st
              %th 2nd
              %th 3rd
              %th Total
          %tbody
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby フクナガ ユウミ
                福永 雄海
              %td シーバスキャプテン
              %td
                %strong
                  %i.fa.fa-thumbs-o-up
                  73.5
              %td 63.5
              %td 61.0
              %td 198.0
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby カキザワ ヒロシ
                柿澤 寛
              %td ストライカー
              %td 65.0
              %td 64.5
              %td 57.0
              %td 186.5
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby モリタ ヒデノリ
                森田 英典
              %td リアル
              %td 65.0
              %td 66.0
              %td 54.5
              %td 185.5
            %tr
              %td 4
              %td
                %span.ruby オオバタケ タク
                大畠 拓
              %td シークロ
              %td 64.0
              %td 61.0
              %td 60.0
              %td 185.0
            %tr
              %td 5
              %td
                %span.ruby ハヤカワ マサカズ
                早川 昌和
              %td ストライカー
              %td 67.0
              %td 57.0
              %td 55.0
              %td 179.0
            %tr
              %td 6
              %td
                %span.ruby サイトウ タカヒロ
                齋藤 剛宏
              %td D-marina
              %td 61.0
              %td 58.0
              %td 53.0
              %td 172.0
            %tr
              %td 7
              %td
                %span.ruby サイトウ ユウキ
                齋藤 雄輝
              %td ストライカー
              %td 57.5
              %td 54.0
              %td 53.0
              %td 164.5
            %tr
              %td 8
              %td
                %span.ruby カネコ タクヤ
                兼古 卓弥
              %td インパクト
              %td 60.0
              %td 48.0
              %td 46.0
              %td 154.0
            %tr
              %td 9
              %td
                %span.ruby エンドウ マサアキ
                遠藤 正明
              %td アイランドクルーズ
              %td 52.0
              %td 49.5
              %td 46.0
              %td 147.5
            %tr
              %td 10
              %td
                %span.ruby カズノ タツヤ
                数野 達也
              %td インパクト
              %td 55.0
              %td 47.0
              %td 45.0
              %td 147.0
          %tfoot
            %tr
              %th Rank
              %th Name
              %th boat
              %th 1st
              %th 2nd
              %th 3rd
              %th Total
      %section#interviews
        %h1
          %i.fa.fa-trophy
          上位3名の紹介
        .interview
          %h2 優勝：福永 雄海さん（シーバスキャプテン）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2014/img_pic-round2-rank1-angler.jpg", alt: "福永 雄海さん（シーバスキャプテン）", width: "600", height: "400")
            %p 情報なし
          .screen.tackles_area
            %table
              %thead
                %tr
                  %th No.
                  %th Rod
                  %th Reel
                  %th Line
                  %th Leader
              %tbody
                %tr
                  %th 1
                  %td SAURUS BORON SHAFT BLACK-FIN 610
                  %td シマノ ステラ SW 5000
                  %td ナイロン8lb
                  %td 20lb
                %tr
                  %th 2
                  %td シマノ ワールドシャウラ 1701FF2
                  %td シマノ コンクエスト DC
                  %td GTR 20lb
                  %td --
          .screen.lures_area
            %ul
              %li
                %i.fa.fa-caret-right
                バスデイ レンジミノーII 70S
              %li
                %i.fa.fa-caret-right
                バスデイ シュガーディープ 90F
        .interview
          %h2 準優勝：柿澤 寛さん（ストライカー）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2014/img_pic-round2-rank2-angler.jpg", alt: "柿澤 寛さん（ストライカー）", width: "600", height: "400")
            %p 情報なし
          .screen.tackles_area
            %table
              %thead
                %tr
                  %th No.
                  %th Rod
                  %th Reel
                  %th Line
                  %th Leader
              %tbody
                %tr
                  %th 1
                  %td メガバス シルバーシャドウ 610
                  %td シマノ ステラ 3000
                  %td --
                  %td 20lb
          .screen.lures_area
            %ul
              %li
                %i.fa.fa-caret-right
                エコギア 3Dジグヘッド21g ＋ マーズローリングシャッドＭ（パールホワイト）
        .interview
          %h2 3位：森田 英典さん（リアル）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2014/img_pic-round2-rank3-angler.jpg", alt: "森田 英典さん（リアル）", width: "600", height: "400")
            %p 情報なし
          .screen.tackles_area
            %table
              %thead
                %tr
                  %th No.
                  %th Rod
                  %th Reel
                  %th Line
                  %th Leader
              %tbody
                %tr
                  %th 1
                  %td ティムコ JJTC-69C
                  %td ダイワ T3MX
                  %td PE 3.0
                  %td 40lb
          .screen.lures_area
            %ul
              %li
                %i.fa.fa-caret-right
                がまかつ レンジスイマー ＋ エコギア ４インチ
    #sub_column
      %aside#ads
        = partial "shared/adsense_side"
      %section#ranking_summary
        %h1
          %i.fa.fa-file-text-o
          ラウンドサマリー
        %table
          %tr
            %th 開催日
            %td 2014/3/11
          %tr
            %th 天気
            %td 晴れ
          %tr
            %th 潮
            %td 若潮
          %tr
            %th 参加者数
            %td 10人
          %tr
            %th ウェイイン総数
            %td 30本
          %tr
            %th リミットメイク率
            %td 100％
          %tr
            %th 最大叉長
            %td 73.5cm
          %tr
            %th 最小叉長
            %td 47.5cm
          %tr
            %th 平均叉長
            %td 57.3cm
      = partial "shared/result_list"
