---
title: BST 2014 第4戦 大会結果
description: 2014年7月8日（火）に開催された東京湾No.1ボートシーバスアングラーを決めるトーナメント「B.T.S 2014」第4戦の大会結果です。
---
= partial "shared/global_navigation", :locals => {:val => "results"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li
      = link_to "/results/", itemprop: "url" do
        %span{itemprop: "title"} 大会結果
      %i.fa.fa-angle-right
    %li BST 2014 第4戦 大会結果
#imagepanel_result
  #imagepanel_result_inner.result2014_04
    .layer
      %h1 BST 2014 第4戦 大会結果
%article#content
  #content_inner
    #main_column.double
      %section#ranking_table
        - if false
          .chairmans_comment
            %dl
              %dt
                %i.fa.fa-comment
                総評
              %dd
                %p.comment
                  さいとうさんコメントはやかわさんコメントさいとうさんコメントはやかわさんコメントさいとうさんコメントはやかわさんコメントさいとうさんコメントはやかわさんコメントさいとうさんコメントはやかわさんコメント100〜150文字が希望
                %p.writer
                  （実行委員：コメンター名）
        %table
          %caption 敬称略
          %thead
            %tr
              %th Rank
              %th Name
              %th boat
              %th 1st
              %th 2nd
              %th 3rd
              %th Total
          %tbody
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby タケ
                Take
              %td ストライカー
              %td 61.0
              %td 60.0
              %td 47.5
              %td 168.5
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby カズノ タツヤ
                数野 達也
              %td インパクト
              %td 58.0
              %td 54.0
              %td 52.0
              %td 164.0
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby モリタ ヒデノリ
                森田 英典
              %td リアル
              %td 59.0
              %td 51.5
              %td 51.0
              %td 161.5
            %tr
              %td 4
              %td
                %span.ruby オオバタケ タク
                大畠 拓
              %td シークロ
              %td 56.0
              %td 55.0
              %td 48.0
              %td 159.0
            %tr
              %td 5
              %td
                %span.ruby フクナガ ユウミ
                福永 雄海
              %td シーバスキャプテン
              %td 51.0
              %td 50.0
              %td 45.0
              %td 146.0
            %tr
              %td 6
              %td
                %span.ruby サイトウ タカヒロ
                齋藤 剛宏
              %td D-marina
              %td 46.0
              %td 45.0
              %td 42.5
              %td 133.5
            %tr
              %td 7
              %td
                %span.ruby カキザワ ヒロシ
                柿澤 寛
              %td ストライカー
              %td
                %strong
                  %i.fa.fa-thumbs-o-up
                  64.0
              %td 51.0
              %td 0
              %td 115.0
            %tr
              %td 8
              %td
                %span.ruby サイトウ ユウキ
                齋藤 雄輝
              %td ストライカー
              %td 51.0
              %td 50.5
              %td 0
              %td 101.5
            %tr
              %td 9
              %td
                %span.ruby ショウジ ヒロシ
                東海林 博
              %td 平野ボート
              %td 52.0
              %td 44.0
              %td 0
              %td 96.0
            %tr
              %td 10
              %td
                %span.ruby イチハザマ トシヒロ
                一迫 敏洋
              %td リアル
              %td 0
              %td 0
              %td 0
              %td 0
            %tr
              %td 11
              %td
                %span.ruby ヒラサワ タカシ
                平澤 貴一
              %td 平野ボート
              %td 0
              %td 0
              %td 0
              %td 0
          %tfoot
            %tr
              %th Rank
              %th Name
              %th boat
              %th 1st
              %th 2nd
              %th 3rd
              %th Total
      %section#interviews
        %h1
          %i.fa.fa-trophy
          上位3名の紹介
        .interview
          %h2 優勝：Takeさん（ストライカー）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2014/img_pic-round4-rank1-angler.jpg", alt: "Takeさん（ストライカー）", width: "600", height: "400")
            %p
              根岸方面にて21gジグヘッドワームの釣りがほとんど。
              %br
              最大魚はストラクチャーにキャストしカウントダウンし巻いてきてピックアップ寸前に手元でヒット！！！
              %br
              大興奮の１尾でした。
          .screen.tackles_area
            = image_tag("results/2014/img_pic-round4-rank1-tackle.jpg", alt: "Takeさん使用タックル", width: "600", height: "400")
            %table
              %thead
                %tr
                  %th No.
                  %th Rod
                  %th Reel
                  %th Line
                  %th Leader
              %tbody
                %tr
                  %th 1
                  %td  ベイマティック 603
                  %td ダイワ 3000番
                  %td
                    SUNLINE
                    %br
                    Machinegun Cast 16lb
                  %td --
          .screen.lures_area
            %ul
              %li
                %i.fa.fa-caret-right
                エコギア3Dジグヘッド21g＆14g ＋ マーズローリングシャッドM（オレンジ）
        .interview
          %h2 準優勝：数野 達也さん（インパクト）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2014/img_pic-round4-rank2-angler.jpg", alt: "数野 達也さん（インパクト）", width: "600", height: "400")
            %p
              鶴見、川崎でのストラクチャー打ちで入れ食い。
              %br
              釣れてくるのは40cmサイズばかり
              %br
              しかし最後に横浜港の穴打ちですべて入れ替えサイズをキャッチ。
          .screen.tackles_area
            = image_tag("results/2014/img_pic-round4-rank2-tackle.jpg", alt: "数野 達也さん使用タックル", width: "600", height: "400")
            %table
              %thead
                %tr
                  %th No.
                  %th Rod
                  %th Reel
                  %th Line
                  %th Leader
              %tbody
                %tr
                  %th 1
                  %td --
                  %td シマノ DC
                  %td --
                  %td --
          .screen.lures_area
            %ul
              %li
                %i.fa.fa-caret-right
                エバーグリーン マービー90
              %li
                %i.fa.fa-caret-right
                マーズ マドネスジグヘッド
              %li
                %i.fa.fa-caret-right
                バイブレーション9cm
        .interview
          %h2 3位：森田 英典さん（リアル）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2014/img_pic-round4-rank3-angler.jpg", alt: "森田 英典さん（リアル）", width: "600", height: "400")
            %p
              川崎方面にてバイブレーションを中層引きで食ってきます。
              %br
              その場所ではヒット30以上。
              %br
              でも、ほとんどが40cm台でしたが釣っているうちに良型キャッチ！！
          .screen.tackles_area
            = image_tag("results/2014/img_pic-round4-rank3-tackle.jpg", alt: "森田 英典さん使用タックル", width: "600", height: "400")
            %table
              %thead
                %tr
                  %th No.
                  %th Rod
                  %th Reel
                  %th Line
                  %th Leader
              %tbody
                %tr
                  %th 1
                  %td ティムコ JJTC-69C
                  %td ダイワ T3MX
                  %td PE 3.0
                  %td 40lb
          .screen.lures_area
            %ul
              %li
                %i.fa.fa-caret-right
                バイブレーション
    #sub_column
      %section#ranking_summary
        %h1
          %i.fa.fa-file-text-o
          ラウンドサマリー
        %table
          %tr
            %th 開催日
            %td 2014/7/8
          %tr
            %th 天気
            %td 曇りのち晴れ
          %tr
            %th 潮
            %td 中潮
          %tr
            %th 参加者数
            %td 11人
          %tr
            %th ウェイイン総数
            %td 24本
          %tr
            %th リミットメイク率
            %td 54.6％
          %tr
            %th 最大叉長
            %td 64.0cm
          %tr
            %th 最小叉長
            %td 44.0cm
          %tr
            %th 平均叉長
            %td 51.9cm
      = partial "shared/result_list"
