---
title: B.S.T 2013 第4戦 大会結果
description: 2013年9月10日（火）に開催された東京湾No.1ボートシーバスアングラーを決めるトーナメント「B.T.S 2013」第4戦の大会結果です。
---
= partial "shared/global_navigation", :locals => {:val => "results"}
#topicpath
  %ol
    %li
      = link_to "B.S.T公式TOP", "/"
      %i.fa.fa-angle-right
    %li
      = link_to "大会結果", "/results/"
      %i.fa.fa-angle-right
    %li B.S.T 2013 第4戦 大会結果
#imagepanel_result
  #imagepanel_result_inner.result2013_04
    .layer
      %h1 B.S.T 2013 第4戦 大会結果
%article#content
  #content_inner
    #main_column.double
      %section#ranking_table
        .chairmans_comment
          %dl
            %dt
              %i.fa.fa-comment
              総評
            %dd
              %p.comment
                ストライカーの柿澤さん、渋い状況とはいえ強いですね～～さすがです！！
              %p.writer
                （実行委員：齋藤）
        %table
          %caption 敬称略
          %thead
            %tr
              %th Rank
              %th Name
              %th boat
              %th 1st
              %th 2nd
              %th 3rd
              %th Total
          %tbody
            %tr
              %td
                %i.fa.fa-trophy.rank1
              %td
                %span.ruby カキザワ ヒロシ
                柿澤 寛
              %td ストライカー
              %td
                %strong
                  %i.fa.fa-thumbs-o-up
                  69.5
              %td 54.5
              %td 54.0
              %td 178.0
            %tr
              %td
                %i.fa.fa-trophy.rank2
              %td
                %span.ruby ヒラサワ タカシ
                平澤 貴一
              %td 平野ボート
              %td 61.0
              %td 57.5
              %td 54.5
              %td 173.0
            %tr
              %td
                %i.fa.fa-trophy.rank3
              %td
                %span.ruby サイトウ タカヒロ
                齋藤 剛宏
              %td D-marina
              %td 67.0
              %td 50.0
              %td 49.0
              %td 166.0
            %tr
              %td 4
              %td
                %span.ruby フクナガ ユウミ
                福永 雄海
              %td シーバスキャプテン
              %td 57.5
              %td 54.5
              %td 51.5
              %td 163.5
            %tr
              %td 5
              %td
                %span.ruby モリタ ヒデノリ
                森田 英典
              %td リアル
              %td 58.5
              %td 51.0
              %td 51.0
              %td 160.5
            %tr
              %td 6
              %td
                %span.ruby オカモト ケイイチロウ
                岡本 慶一郎
              %td シークロ
              %td 52.0
              %td 51.0
              %td 48.0
              %td 151.0
            %tr
              %td 7
              %td
                %span.ruby スズキ マサト
                スズキ 雅登
              %td ストライカー
              %td 45.5
              %td 45.0
              %td 44.5
              %td 135.0
            %tr
              %td 8
              %td
                %span.ruby カズノ タツヤ
                数野 達也
              %td インパクト
              %td 54.0
              %td 53.5
              %td 0
              %td 107.5
            %tr
              %td 9
              %td
                %span.ruby マツオ マコト
                松尾 誠
              %td レンタル
              %td 56.5
              %td 50.5
              %td 0
              %td 107.0
            %tr
              %td 10
              %td
                %span.ruby オオタ ヒデヒコ
                太田 英彦
              %td シークロ
              %td 51.0
              %td 49.0
              %td 0
              %td 100.0
            %tr
              %td 11
              %td
                %span.ruby ジョウジ ヒロシ
                東海林 博
              %td 平野ボート
              %td 46.5
              %td 43.5
              %td 0
              %td 90.0
            %tr
              %td 12
              %td
                %span.ruby カネコ タクヤ
                兼古 卓弥
              %td インパクト
              %td 49.5
              %td 0
              %td 0
              %td 49.5
            %tr
              %td 13
              %td
                %span.ruby スギタ フウマ
                杉田 楓真
              %td ストライカー
              %td 49.0
              %td 0
              %td 0
              %td 49.0
            %tr
              %td 14
              %td
                %span.ruby オカダ ミノル
                岡田 実
              %td ストライカー
              %td 0
              %td 0
              %td 0
              %td 0
          %tfoot
            %tr
              %th Rank
              %th Name
              %th boat
              %th 1st
              %th 2nd
              %th 3rd
              %th Total
      %section#interviews
        %h1
          %i.fa.fa-trophy
          上位3名の紹介
        .interview
          %h2 優勝：柿澤 寛さん（ストライカー）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2013/img_pic-round4-rank1-angler.jpg", alt: "柿澤 寛さん（ストライカー）", width: "600", height: "400")
            %p 情報なし
          .screen.tackles_area
            %table
              %thead
                %tr
                  %th No.
                  %th Rod
                  %th Reel
                  %th Line
                  %th Leader
              %tbody
                %tr
                  %th 1
                  %td
                    ベイマチック6.2
                  %td
                    ダイワ セルテートR
                  %td
                    ファイアーライン12lb
                  %td
                    ナイロン16lb
          .screen.lures_area
            %ul
              %li
                %i.fa.fa-caret-right
                エコギア３Dジグヘッド＋マーズローリングシャッドパールホワイト
              %li
                %i.fa.fa-caret-right
                ジャクソンアスリートS9 サバカラー
        .interview
          %h2 準優勝：平澤 貴一さん（平野ボート）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2013/img_pic-round4-rank2-angler.jpg", alt: "平澤 貴一さん（平野ボート）", width: "600", height: "400")
            %p 情報なし
          .screen.tackles_area
            %table
              %thead
                %tr
                  %th No.
                  %th Rod
                  %th Reel
                  %th Line
                  %th Leader
              %tbody
                %tr
                  %th 1
                  %td ソルティストBC65MLS
                  %td ダイワ 07ルビアス2500R
                  %td PE1.0号 
                  %td フロロ12lb
          .screen.lures_area
            %ul
              %li
                %i.fa.fa-caret-right
                MARS SM-75（ストライクミノー） 富津ベイトカラー 
        .interview
          %h2 3位：齋藤 剛宏さん（D-marina）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2013/img_pic-round4-rank3-angler.jpg", alt: "齋藤 剛宏さん（D-marina）", width: "600", height: "400")
            %p 壁際に投げ、とにかく早巻き。
          .screen.tackles_area
            %table
              %thead
                %tr
                  %th No.
                  %th Rod
                  %th Reel
                  %th Line
                  %th Leader
              %tbody
                %tr
                  %th 1
                  %td ベイマティックBVC603 
                  %td シマノ ツインパワー2500
                  %td サンラインキャストアウェイ PE0.8号 
                  %td ナイロン4号
          .screen.lures_area
            %ul
              %li
                %i.fa.fa-caret-right
                バスディ レンジバイブ 80ES
              %li
                %i.fa.fa-caret-right
                メガバス X80
    #sub_column
      %section#ranking_summary
        %h1
          %i.fa.fa-file-text-o
          ラウンドサマリー
        %table
          %tr
            %th 開催日
            %td 2013/9/10
          %tr
            %th 天気
            %td 曇りのち雨
          %tr
            %th 潮
            %td 中潮
          %tr
            %th 参加者数
            %td 14人
          %tr
            %th ウェイイン総数
            %td 31本
          %tr
            %th リミットメイク率
            %td 50.0％
          %tr
            %th 最大叉長
            %td 69.5cm
          %tr
            %th 最小叉長
            %td 43.5cm
          %tr
            %th 平均叉長
            %td 52.3cm
      = partial "shared/result_list"
