---
title: B.S.T 2013 第1戦 大会結果
description: 2013年3月26日（火）に開催された東京湾No.1ボートシーバスアングラーを決めるトーナメント「B.T.S 2013」第1戦の大会結果です。
---
= partial "shared/global_navigation", :locals => {:val => "results"}
#topicpath
  %ol
    %li
      = link_to "B.S.T公式TOP", "/"
      %i.fa.fa-angle-right
    %li
      = link_to "大会結果", "/results/"
      %i.fa.fa-angle-right
    %li B.S.T 2013 第1戦 大会結果
#imagepanel_result
  #imagepanel_result_inner.result2013_01
    .layer
      %h1 B.S.T 2013 第1戦 大会結果
%article#content
  #content_inner
    #main_column.double
      %section#ranking_table
        .chairmans_comment
          %dl
            %dt
              %i.fa.fa-comment
              総評
            %dd
              %p.comment
                優勝者から5位までが10cm以内と接戦の第1戦でした。
                %br
                最大魚も65.5cmと数は釣れたがサイズが伸び悩んだ方が多かったように思えます。
                %br
                %br
                そんな中、さすがの福永さん。ミノーゲームで良型を引き出してきました。
                %br
                準優勝の花野さんも1人で40匹以上のキャッチとのこと。
                %br
                3位の鈴木さんは深いところでの釣果が多かったようです。
              %p.writer
                （実行委員：齋藤）
        %table
          %caption 敬称略
          %thead
            %tr
              %th Rank
              %th Name
              %th boat
              %th 1st
              %th 2nd
              %th 3rd
              %th Total
          %tbody
            %tr
              %td
                %i.fa.fa-trophy.rank1
              %td
                %span.ruby フクナガ ユウミ
                福永 雄海
              %td シーバスキャプテン
              %td
                %strong
                  %i.fa.fa-thumbs-o-up
                  65.5
              %td 61.0
              %td 55.5
              %td 182.0
            %tr
              %td
                %i.fa.fa-trophy.rank2
              %td
                %span.ruby ハナノ オサム
                花野 修
              %td ストライカー
              %td 63.0
              %td 57.5
              %td 56.0
              %td 176.5
            %tr
              %td
                %i.fa.fa-trophy.rank3
              %td
                %span.ruby スズキ マサト
                鈴木 雅登
              %td JAWS
              %td 63.0
              %td 57.5
              %td 55.0
              %td 175.5
            %tr
              %td 4
              %td
                %span.ruby カキザワ ヒロシ
                柿澤 寛
              %td ストライカー
              %td 61.5
              %td 57.0
              %td 56.0
              %td 174.5
            %tr
              %td 5
              %td
                %span.ruby モリタ ヒデノリ
                森田 英典
              %td リアル
              %td 61.0
              %td 57.5
              %td 55.0
              %td 173.5
            %tr
              %td 6
              %td
                %span.ruby スギヤマ タカヒロ
                杉山 貴洋
              %td リアル
              %td 60.5
              %td 56.0
              %td 55.0
              %td 171.5
            %tr
              %td 7
              %td
                %span.ruby ムライ タケシ
                村井 武司
              %td K.S.P.JACK
              %td 56.5
              %td 56.0
              %td 56.0
              %td 168.5
            %tr
              %td 8
              %td
                %span.ruby サイトウ タカヒロ
                齋藤 剛宏
              %td D-marina
              %td 62.0
              %td 57.0
              %td 47.0
              %td 166.0
            %tr
              %td 9
              %td
                %span.ruby オカダ ミノル
                岡田 実
              %td JAWS
              %td 61.0
              %td 55.0
              %td 50.0
              %td 166.0
            %tr
              %td 10
              %td
                %span.ruby ヤスイ ユウジ
                安井 雄二
              %td K.S.P.JACK
              %td 57.0
              %td 49.0
              %td 47.5
              %td 153.5
            %tr
              %td 11
              %td
                %span.ruby スギタ フウマ
                杉田 楓真
              %td ストライカー
              %td 52.0
              %td 45.0
              %td 44.0
              %td 141.0
            %tr
              %td 12
              %td
                %span.ruby イノウエ タケヒサ
                井上 武久
              %td D-marina
              %td 52.0
              %td 43.0
              %td 42.0
              %td 137.0
            %tr
              %td 13
              %td
                %span.ruby マツノ トシヤ
                松野 敏也
              %td ストライカー
              %td 41.0
              %td 0
              %td 0
              %td 41.0
            %tr
              %td 14
              %td
                %span.ruby スギタ カツヒコ
                杉田 勝彦
              %td ストライカー
              %td 0
              %td 0
              %td 0
              %td 0
          %tfoot
            %tr
              %th Rank
              %th Name
              %th boat
              %th 1st
              %th 2nd
              %th 3rd
              %th Total
      %section#interviews
        %h1
          %i.fa.fa-trophy
          上位3名の紹介
        .interview
          %h2 優勝：福永 雄海さん（シーバスキャプテン）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2013/img_pic-round1-rank1-angler.jpg", width: "600", height: "400", alt: "福永 雄海さん（シーバスキャプテン）")
            %p 情報なし
          .screen.tackles_area
            %p 情報なし
          .screen.lures_area
            %p 情報なし
        .interview
          %h2 準優勝：花野 修さん（ストライカー）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2013/img_pic-round1-rank2-angler.jpg", width: "600", height: "400", alt: "花野 修さん（ストライカー）")
            %p 情報なし
          .screen.tackles_area
            %p 情報なし
          .screen.lures_area
            %p 情報なし
        .interview
          %h2 3位：鈴木 雅登さん（JAWS）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2013/img_pic-round1-rank3-angler.jpg", width: "600", height: "400", alt: "鈴木 雅登さん（JAWS）")
            %p 情報なし
          .screen.tackles_area
            %p 情報なし
          .screen.lures_area
            %p 情報なし
    #sub_column
      %section#ranking_summary
        %h1
          %i.fa.fa-file-text-o
          ラウンドサマリー
        %table
          %tr
            %th 開催日
            %td 2013/3/26
          %tr
            %th 天気
            %td 曇り
          %tr
            %th 潮
            %td 大潮
          %tr
            %th 参加者数
            %td 14人
          %tr
            %th ウェイイン総数
            %td 37本
          %tr
            %th リミットメイク率
            %td 85.7％
          %tr
            %th 最大叉長
            %td 65.5cm
          %tr
            %th 最小叉長
            %td 41.0cm
          %tr
            %th 平均叉長
            %td 54.8cm
      = partial "shared/result_list"
