---
title: B.S.T 2013 第3戦 大会結果
description: 2013年7月23日（火）に開催された東京湾No.1ボートシーバスアングラーを決めるトーナメント「B.T.S 2013」第3戦の大会結果です。
---
= partial "shared/global_navigation", :locals => {:val => "results"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} B.S.T公式TOP
      %i.fa.fa-angle-right
    %li
      = link_to "/results/", itemprop: "url" do
        %span{itemprop: "title"} 大会結果
      %i.fa.fa-angle-right
    %li B.S.T 2013 第3戦 大会結果
#imagepanel_result
  #imagepanel_result_inner.result2013_03
    .layer
      %h1 B.S.T 2013 第3戦 大会結果
%article#content
  #content_inner
    #main_column.double
      %section#ranking_table
        .chairmans_comment
          %dl
            %dt
              %i.fa.fa-comment
              総評
            %dd
              %p.comment
                こんなに渋い状況の中でも皆さん釣ってきますね～～！！
                %br
                それにしても森田さんは強いな～～！！
              %p.writer
                （実行委員：齋藤）
        %table
          %caption 敬称略
          %thead
            %tr
              %th Rank
              %th Name
              %th boat
              %th 1st
              %th 2nd
              %th 3rd
              %th Total
          %tbody
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby モリタ ヒデノリ
                森田 英典
              %td リアル
              %td
                %strong
                  %i.fa.fa-thumbs-o-up
                  68.5
              %td 53.5
              %td 50.5
              %td 172.5
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby ハナノ オサム
                花野 修
              %td ストライカー
              %td 63.0
              %td 59.5
              %td 45.0
              %td 167.5
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby カネコ タクヤ
                兼古 卓弥
              %td インパクト
              %td 59.5
              %td 53.0
              %td 51.5
              %td 164.0
            %tr
              %td 4
              %td
                %span.ruby エンドウ マサアキ
                遠藤 正明
              %td アイランドクルーズ
              %td 54.0
              %td 48.0
              %td 47.0
              %td 149.0
            %tr
              %td 5
              %td
                %span.ruby フクナガ ユウミ
                福永 雄海
              %td シーバスキャプテン
              %td 58.0
              %td 48.0
              %td 40.0
              %td 146.0
            %tr
              %td 6
              %td
                %span.ruby カキザワ ヒロシ
                柿澤 寛
              %td ストライカー
              %td 49.5
              %td 48.5
              %td 43.0
              %td 141.0
            %tr
              %td 7
              %td
                %span.ruby スズキ マサト
                鈴木 雅登
              %td ストライカー
              %td 41.5
              %td 40.5
              %td 0
              %td 82.0
            %tr
              %td 8
              %td
                %span.ruby ショウジ ヒロシ
                東海林 博
              %td 平野ボート
              %td 46.5
              %td 0
              %td 0
              %td 46.5
            %tr
              %td 9
              %td
                %span.ruby オカダ ミノル
                岡田 実
              %td ストライカー
              %td 41.0
              %td 0
              %td 0
              %td 41.0
            %tr
              %td 10
              %td
                %span.ruby オカモト ケイイチロウ
                岡本 慶一郎
              %td シークロ
              %td 0
              %td 0
              %td 0
              %td 0
            %tr
              %td 11
              %td
                %span.ruby カズノ タツヤ
                数野 達也
              %td インパクト
              %td 0
              %td 0
              %td 0
              %td 0
            %tr
              %td 12
              %td
                %span.ruby サイトウ タカヒロ
                齋藤 剛宏
              %td D-marina
              %td 0
              %td 0
              %td 0
              %td 0
            %tr
              %td 13
              %td
                %span.ruby イノウエ タケヒサ
                井上 武久
              %td D-marina
              %td 0
              %td 0
              %td 0
              %td 0
          %tfoot
            %tr
              %th Rank
              %th Name
              %th boat
              %th 1st
              %th 2nd
              %th 3rd
              %th Total
      %section#interviews
        %h1
          %i.fa.fa-trophy
          上位3名の紹介
        .interview
          %h2 優勝：森田 英典さん（リアル）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2013/img_pic-round3-rank1-angler.jpg", width: "600", height: "400", alt: "森田 英典さん（リアル）")
            %p ベイスラッグでのスラッキングと壁のチョコチョコジギングで良型が出ました！！
          .screen.tackles_area
            %p 情報なし
          .screen.lures_area
            %ul
              %li
                %i.fa.fa-caret-right
                ティムコ ベイスラッグ
        .interview
          %h2 準優勝：花野 修さん（ストライカー）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2013/img_pic-round3-rank2-angler.jpg", width: "600", height: "400", alt: "花野 修さん（ストライカー）")
            %p 情報なし
          .screen.tackles_area
            %table
              %thead
                %tr
                  %th No.
                  %th Rod
                  %th Reel
                  %th Line
                  %th Leader
              %tbody
                %tr
                  %th 1
                  %td DIALUNA BS S610M
                  %td SHIMANO EXSENCE CI4+ C3000HGM
                  %td YGK NITLON Bait TypeⅡ 12lb
                  %td --
                %tr
                  %th 2
                  %td DIALUNA BS S600ML
                  %td SHIMANO EXSENCE CI4+ C3000HGM
                  %td YGK NITLON Bait TypeⅡ 12lb
                  %td --
                %tr
                  %th 3
                  %td DIALUNA BS B606ML
                  %td SHIMANO アンタレスHG
                  %td YGK NITLON Bait TypeⅡ 12lb
                  %td --
          .screen.lures_area
            = image_tag("results/2013/img_pic-round3-rank2-lures.jpg", width: "600", height: "400", alt: "花野 修さん使用ルアー")
            %ul
              %li
                %i.fa.fa-caret-right
                湾バイブアンサー26gホロ（ピンクバック、ホロパープルイワシ）
              %li
                %i.fa.fa-caret-right
                コアマン PB-30パワーブレード（イワシハラグロー）
              %li
                %i.fa.fa-caret-right
                コアマン PB-24パワーブレードレアメタル（シラスイワシシルバー）
              %li
                %i.fa.fa-caret-right
                マリア タイトスラローム
              %li
                %i.fa.fa-caret-right
                がまかつレンジスイマーリバーシブル7g+マーズR-32
        .interview
          %h2 3位：兼古 卓弥さん（インパクト）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2013/img_pic-round3-rank3-angler.jpg", width: "600", height: "400", alt: "兼古 卓弥さん（インパクト）")
            %p 情報なし
          .screen.tackles_area
            %p 情報なし
          .screen.lures_area
            %p 情報なし
    #sub_column
      %aside#ads
        = partial "shared/adsense_side"
      %section#ranking_summary
        %h1
          %i.fa.fa-file-text-o
          ラウンドサマリー
        %table
          %tr
            %th 開催日
            %td 2013/7/23
          %tr
            %th 天気
            %td 曇りのち雨
          %tr
            %th 潮
            %td 大潮
          %tr
            %th 参加者数
            %td 13人
          %tr
            %th ウェイイン総数
            %td 22本
          %tr
            %th リミットメイク率
            %td 46.2％
          %tr
            %th 最大叉長
            %td 68.5cm
          %tr
            %th 最小叉長
            %td 40.0cm
          %tr
            %th 平均叉長
            %td 50.4cm
      = partial "shared/result_list"
