---
title: B.S.T 2013 第2戦 大会結果
description: 2013年5月21日（火）に開催された東京湾No.1ボートシーバスアングラーを決めるトーナメント「B.T.S 2013」第2戦の大会結果です。
---
= partial "shared/global_navigation", :locals => {:val => "results"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} B.S.T公式TOP
      %i.fa.fa-angle-right
    %li
      = link_to "/results/", itemprop: "url" do
        %span{itemprop: "title"} 大会結果
      %i.fa.fa-angle-right
    %li B.S.T 2013 第2戦 大会結果
#imagepanel_result
  #imagepanel_result_inner.result2013_02
    .layer
      %h1 B.S.T 2013 第2戦 大会結果
%article#content
  #content_inner
    #main_column.double
      %section#ranking_table
        .chairmans_comment
          %dl
            %dt
              %i.fa.fa-comment
              総評
            %dd
              %p.comment
                今回はすごいメンバーが集まりました！！
                %br
                こんなメンバーが集まる大会で表彰台に乗りたいですね！！
                %br
                そんな中今回は柿澤さんの独り舞台！！
                %br
                3匹で207cmとダントツで優勝でした！！
              %p.writer
                （実行委員：齋藤）
        %table
          %caption 敬称略
          %thead
            %tr
              %th Rank
              %th Name
              %th boat
              %th 1st
              %th 2nd
              %th 3rd
              %th Total
          %tbody
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby カキザワ ヒロシ
                柿澤 寛
              %td ストライカー
              %td
                %strong
                  %i.fa.fa-thumbs-o-up
                  70.5
              %td 69.0
              %td 67.5
              %td 207.0
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby モリタ ヒデノリ
                森田 英典
              %td リアル
              %td 63.0
              %td 60.0
              %td 59.0
              %td 182.0
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby フルヤ マコト
                古谷 誠
              %td K.S.P.JACK
              %td 67.5
              %td 50.0
              %td 49.5
              %td 167.0
            %tr
              %td 4
              %td
                %span.ruby フクナガ ユウミ
                福永 雄海
              %td シーバスキャプテン
              %td 57.0
              %td 54.0
              %td 47.5
              %td 158.5
            %tr
              %td 5
              %td
                %span.ruby ハナノ オサム
                花野 修
              %td ストライカー
              %td 54.0
              %td 51.0
              %td 51.0
              %td 156.0
            %tr
              %td 6
              %td
                %span.ruby スギタ フウマ
                杉田 楓真
              %td アイランドクルーズ
              %td 53.5
              %td 50.0
              %td 50.0
              %td 153.5
            %tr
              %td 7
              %td
                %span.ruby キナイ モリヨシ
                喜内 盛由
              %td オーシャンマスター
              %td 53.0
              %td 51.5
              %td 48.0
              %td 152.5
            %tr
              %td 8
              %td
                %span.ruby コミヤ タカユキ
                小宮 孝之
              %td シーバスキャプテン
              %td 54.0
              %td 47.0
              %td 43.0
              %td 144.0
            %tr
              %td 9
              %td
                %span.ruby オカダ ミノル
                岡田 実
              %td ストライカー
              %td 49.5
              %td 44.5
              %td 43.0
              %td 137.0
            %tr
              %td 10
              %td
                %span.ruby ヤスイ ユウジ
                安井 雄二
              %td K.S.P.JACK
              %td 48.5
              %td 43.0
              %td 42.0
              %td 133.5
            %tr
              %td 11
              %td
                %span.ruby スズキ マサト
                鈴木 雅登
              %td ストライカー
              %td 45.0
              %td 43.0
              %td 41.5
              %td 129.5
            %tr
              %td 12
              %td
                %span.ruby スギタ カツヒコ
                杉田 勝彦
              %td アイランドクルーズ
              %td 56.0
              %td 47.5
              %td 0
              %td 103.5
            %tr
              %td 13
              %td
                %span.ruby ムライ タケシ
                村井 武司
              %td K.S.P.JACK
              %td 43.5
              %td 44.5
              %td 0
              %td 88.0
            %tr
              %td 14
              %td
                %span.ruby イノウエ タケヒサ
                井上 武久
              %td D-marina
              %td 47.0
              %td 0
              %td 0
              %td 47.0
            %tr
              %td 15
              %td
                %span.ruby ショウジ ヒロシ
                東海林 博
              %td 平野ボート
              %td 41.5
              %td 0
              %td 0
              %td 41.5
            %tr
              %td 16
              %td
                %span.ruby サイトウ タカヒロ
                齋藤 剛宏
              %td D-marina
              %td 0
              %td 0
              %td 0
              %td 0
            %tr
              %td 16
              %td
                %span.ruby カネコ タクヤ
                兼古 卓弥
              %td インパクト
              %td 0
              %td 0
              %td 0
              %td 0
            %tr
              %td 16
              %td
                %span.ruby カズノ タツヤ
                数野 達也
              %td インパクト
              %td 0
              %td 0
              %td 0
              %td 0
            %tr
              %td T.O
              %td
                %span.ruby オカモト ケイイチロウ
                岡本 慶一郎
              %td シークロ
              %td 0
              %td 0
              %td 0
              %td 0
          %tfoot
            %tr
              %th Rank
              %th Name
              %th boat
              %th 1st
              %th 2nd
              %th 3rd
              %th Total
      %section#interviews
        %h1
          %i.fa.fa-trophy
          上位3名の紹介
        .interview
          %h2 優勝：柿澤 寛さん（ストライカー）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2013/img_pic-round2-rank1-angler.jpg", width: "600", height: "400", alt: "柿澤 寛さん（ストライカー）")
            %p
              根岸方面でのストラクチャーで良型を連発！！
              %br
              ローリングシャッドは数秒カウントダウンしてからのただ巻き。
              %br
              アスリートはトゥイッチで食ってきた！
          .screen.tackles_area
            %table
              %thead
                %tr
                  %th No.
                  %th Rod
                  %th Reel
                  %th Line
                  %th Leader
              %tbody
                %tr
                  %th 1
                  %td ベイマチック6.2
                  %td ダイワ セルテートR
                  %td ファイアーライン12lb
                  %td ナイロン16lb
          .screen.lures_area
            %ul
              %li
                %i.fa.fa-caret-right
                エコギア３Dジグヘッド＋マーズローリングシャッドパールホワイト
              %li
                %i.fa.fa-caret-right
                ジャクソンアスリートS9 サバカラー
        .interview
          %h2 準優勝：森田 英典さん（リアル）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2013/img_pic-round2-rank2-angler.jpg", width: "600", height: "400", alt: "森田 英典さん（リアル）")
            %p
              千葉方面でのストラクチャーゲーム。
              %br
              ミノー＆バイブレーションが中心。
          .screen.tackles_area
            %p 情報なし
          .screen.lures_area
            %p 情報なし
        .interview
          %h2 3位：古谷 誠さん（K.S.P.JACK）
          %nav
            %ul
              %li#comment.active コメント
              %li#tackles タックル
              %li#lures ルアー
          .screen.comment_area.active
            = image_tag("results/2013/img_pic-round2-rank3-angler.jpg", width: "600", height: "400", alt: "古谷 誠さん（K.S.P.JACK）")
            %p キャストし着水後10～15秒カウントフォールさせてタダ巻き。
          .screen.tackles_area
            %table
              %thead
                %tr
                  %th No.
                  %th Rod
                  %th Reel
                  %th Line
                  %th Leader
              %tbody
                %tr
                  %th 1
                  %td メガバス シルバーシャドウ SSX-60MC
                  %td シマノ エクスセンス DC
                  %td パワープロ1.5号 
                  %td サンヨーナイロン20lb
          .screen.lures_area
            %ul
              %li
                %i.fa.fa-caret-right
                ダイワ フルエント
    #sub_column
      %aside#ads
        = partial "shared/adsense_side"
      %section#ranking_summary
        %h1
          %i.fa.fa-file-text-o
          ラウンドサマリー
        %table
          %tr
            %th 開催日
            %td 2013/5/21
          %tr
            %th 天気
            %td 曇り
          %tr
            %th 潮
            %td 中潮
          %tr
            %th 参加者数
            %td 19人
          %tr
            %th ウェイイン総数
            %td 39本
          %tr
            %th リミットメイク率
            %td 57.9％
          %tr
            %th 最大叉長
            %td 70.5cm
          %tr
            %th 最小叉長
            %td 41.5cm
          %tr
            %th 平均叉長
            %td 51.3cm
      = partial "shared/result_list"
