---
title: 競技方法
---
= partial "shared/global_navigation", :locals => {:val => "regulations"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li 競技方法
%article#content
  #content_inner
    #main_column.double
      %h1
        %i.fa.fa-file-text-o
        競技方法（2017年01月改定）
      %section#regulations
        %h2
          %i.fa.fa-chevron-right 第1条 大会趣旨
        %p
          東京湾にて、ルアー＆フライによるボートシーバスフィッシングのトップアングラーを決定する。<br>
          同時に本大会を通じ、より多くの人々にルアーフィッシングの楽しさや東京湾という自然の素晴らしさを発信することを目的とする。
        %h2
          %i.fa.fa-chevron-right 第2条 参加資格
        %p
          ・二級小型船舶操縦士の有資格者でなおかつ取得してから１年以上経過している方<br>
          ・大会規定を十分理解し、事前ミーティングを受け、ルールを順守し誓約書を提出できる方 <br>
          ・船舶保険に加入した船舶を利用する方
        %p ※エクストララウンド参戦に関しては、1艇船長含む3選手まで可
        %p ※レギュラーシリーズのスポット参戦の原則廃止。(会場キャパシティーにより参加出来る場合もある)
        %h2
          %i.fa.fa-chevron-right 第3条 大会ルール
        %h3 3-1 競技方式
        %p
          ・原則として1艇に1名（選手兼キャプテン）で競技する。<br>
          ・大会規定で定めるルアー及びフライ（疑似餌）にて釣った叉長40cm上の生魚のシーバス（鱸）5匹の合計叉長で競う。<br>
          ・スタートは抽選にて順番での出航とする。
        %h3 3-2 ルアー及びフライの定義
        %p
          本大会において「ルアー及びフライ」は疑似餌全般を指します。<br>
          ※生餌の使用は禁止です。<br>
          ※フック（針）は、かえしの無いバーブレスフックを使用してください。かえしのあるフック（針）の使用は固く禁じます。
        %h3 3-3 競技エリア
        %p
          観音崎灯台と富津岬の先端を結んだ線上の北側の東京湾(陸からの釣りは禁止)を競技エリアとする。<br>
          海苔棚や定置網などからは500m以上離れる。また、金沢八景へリポート南端から野島堤防赤灯台を結んだ線の内側（西側）を禁止エリアとする。<br>
          釣りをする場所の選択は選手各自の責任および判断に委ねる。ただし、天候、等の状況により実行委員会にて当日の競技エリアを制限する場合がある。
        %h3 3-4 計測
        %h4 3-4-1
        %p スタート時に実行委員により、イケス（ライブウェル）のチェックを行う。
        %h4 3-4-2
        %p
          ・競技時間中にルアーで釣り上げた叉長40ｃｍ以上生魚のシーバス5匹の叉長の合計を計測対象とする0.5cm単位で切り捨て（例58.4cm⇒58cm、62.8cm⇒62.5cm）<br>
          ・同叉長の場合は最大魚が大きい方となり、最大長が同じ場合は帰着が早い方とする。<br>
          ・計測は各ボートにて実行委員が行う。計測時に30秒以上横たわっている魚は対象外とする。また、放流時に30秒以上自力で泳ぎださない場合は、対象外とする。
        %h4 3-4-3
        %p
          検量は帰着順に行う。桟橋に到着したらウェインカードを、検量が有る選手は検量ボックスにウェインカードを、ノーフィッシュの選手はノーフィッシュBOXにカードを返却の事（検量前までに必ずBOX投入すること）。<br>
          万が一、ウェインカードを入れ間違った場合は、ノーフィッシュの選手の検量時間として1分間のインターバルを設定する。 
        %h3 3-5 装備
        %p
          ・ライフジャケットは必ず着用すること。(着用が認められない場合は失格とする。)<br>
          ・フックはすべてバーブレスとすること。<br>
          ・安全のため帽子、サングラスなどを着用すること。
        %h3#return 3-6 帰着の定義
        %p
          12：30〜13：15の間に既定の水路に決められた経路で入り、帰着確認員が選手を確認した状態を帰着とする。
          帰着締切時間にこの状態にない者は原則的に帰着と認めない。<br>
          ただし、エントリーフィッシュのケア等の理由により上記時間よりも早く帰着を希望する選手は、帰着確認員へその旨を連絡し着岸した時点で帰着と認めるが、競技時間内であっても競技再開を認めない。
        = image_tag "regulations/img_return-route.jpg", alt: "帰着ルート"
        %p
          %i.fa.fa-exclamation-triangle
          = link_to "帰着確認員待機場所", "//www.google.co.jp/maps/@35.4735129,139.6362036,3a,75y,10.69h,76.78t/data=!3m6!1e1!3m4!1sC_6tOeI1UMPGjpQ2xH58wA!2e0!7i13312!8i6656"
          <br>
          ゴルフ練習場対面あたりの歩道にいます。
        %h3 3-7 ポイント
        %h4 3-7-1 付与ポイント
        %p
          優勝20ポイント / 2位17ポイント / 3位15ポイント / 4位14ポイント / 5位13ポイント / 6位11ポイント / 7位9ポイント / 8位7ポイント / 9位5ポイント / 10位4ポイント / 11位3ポイント / 12位2ポイント / 13位1ポイント。<br>
          ※来年度以降、参加艇数が増えた場合は付与ポイント配分の変更を行います。
        %h4 3-7-2 救助活動への救済
        %p
          競技中に他のボートの救助で試合放棄した場合は、無条件で10ポイント付与。ただし、規定時間内にウェイイン出来た場合はこの限りではない。
        %h3 3-8 禁止・失格・ペナルティー事項
        %h4 3-8-1
        %p
          受付完了時間に遅れた場合、当日の記録より-10㎝のペナルティーが発生する。<br>
          また、受付完了時間より30分以上の遅れは当日の記録より-30㎝のペナルティーが発生する
        %h4 3-8-2
        %p
          帰着時間に帰着状態にない者は失格とする（帰着の定義を参考のこと）。
        %h4 3-8-3
        %p
          計測時に6匹以上計測対象魚が確認できた場合は失格とする（計測係乗船前のリリースは認める）。（計測はしない）
        %h4#rule3-8-4 3-8-4
        %p
          スローエリアでの速度の順守。明らかな速度違反が判明した場合は失格とする。<br>
          スローエリアでは、追い越し禁止、アイドリング走行の厳守。各船1000回転以下で航行の厳守。<br>
          また、デッドスローエリアは狭い水路の為、対向船には十分に注意し安全第一に航行の事。
        %h4 3-8-5
        %p
          インディーフィッシングの禁止。(桟橋やふ頭の下に船を潜らせて釣りを行う行為を禁止)
        %h3 3-9 表彰
        %p
          各戦上位3名を表彰し、表彰状を授与する。
        %h3 3-10 シリーズチャンピオンシップ
        %p
          全5戦中5戦の合計ポイントによりBSTシリーズチャンピオンを決定する。<br>
          但し合計ポイントが同じ場合は、全5戦の全合計叉長の大きい者をシリーズチャンピオンと定める。<br>
          それでも同ポイントの場合は全戦中の最大3匹の合計叉長で決定する。 

        %p
          ☆1戦中止の場合は4戦の合計ポイントでシリーズチャンピオンを決定する。<br>
          2戦以上中止の場合は、代替え戦を1戦行う（日程参照）<br>
          シリーズ獲得ポイント+代替え戦の合計ポイントでシリーズチャンピオンを決定する。 <br>
          また、シリーズチャンピオン以下の選手も同様に順位をつけるものとする。 <br>
          ☆代替え戦予備日も中止になった場合は、代替え戦は行わずシリーズ合計ポイントでシリーズチャンピオンを確定する。
        %h4 入れ替え戦について
        %p
          年間ランキング8位までは翌年のシリーズ参戦シード資格を得られる。<br>
          辞退者がいる場合は、繰り上げとなる。<br>
          翌年シリーズ参加者を募り、新規参加者がいる場合は、入替え戦を行う。
          ※締め切りおよび開催日程は後日公式サイト等で発表します。
        %h3 3-11 参加費用
        %p
          年間エントリー制 12艇締め切り 1選手￥50,000<br>
          ☆中止があった場合年間エントリーからの返金はありません。<br>
          エクストララウンドは1戦エントリー制<br>
          1チーム10000円(1艇当たり)<br>
          6艇以上12艇以下で開催（応募多数の場合は先着順）
        %h3 3-12 集合及び検量場所
        %p
          D-marina<br>
          横浜市神奈川区東神奈川2-49-11<br>
          TEL:045-461-1062
        %h3 3-13 参加申し込み
        %p
          シリーズ参加選手は締め切りまでに参加登録を行い、10月15日（10月17日確認できれば可）までに振込を完了すること。<br>
          エクストララウンド参戦選手（チーム）はWEB上から各開催日1週間前の前日月曜中に応募。エントリーフィーは当日現金にて支払い。
        %h3 3-14 スケジュール
        %table
          %tbody
            %tr
              %td 08:10
              %td
                %h4 集合
                参加者は時間までに会場入りしてください。
            %tr
              %td 〜08:20
              %td
                %h4 ライブウェルチェック
                会場に到着したことが確認できた選手のライブウェル（生け簀）を
                スタッフが順次チェックします。
            %tr
              %td 08:20〜
              %td
                %h4 キャプテンミーティング
                ルールについての説明や当日の流れなどを説明、フライト順のくじ引き実施。<br>
                スタート地点へ各自移動。
            %tr
              %td 08:30〜
              %td
                %h4 スタートフィッシング
                くじ引きで決定した順番にスタートする。
            %tr
              %td 〜12:50
              %td
                %h4 ストップフィッシング
                時間以降の釣行は失格となります。
                <a href="#return">帰着の定義</a>を理解したうえで帰着してください。
            %tr
              %td 13:30〜
              %td
                %h4 検量
                帰着順に検量を開始します。
            %tr
              %td 14:00〜
              %td
                %h4 表彰式
                昼食後、表彰式を行います。
        %h3 3-15 年間スケジュール
        %p スケジュールを参照ください。
        %h3 3-16 中止について
        %p
          開催日が中止になった場合、予備日に開催をする。<br>
          予備日も中止になった場合、代替え戦は行わない。<br>
          但し、シリーズで2戦以上中止になった場合は、代替え戦を1戦のみ行うものとする。<br>
          ※当日5：00に大会実行委員会が中止か否かの発表を公式ブログやFacebookページ及び申し込み時に入力いただいたアドレスへメール配信を行う。大会当日集合時間後でも天候急変の場合、中止になる場合もあります。
        %h3 3-17 エクストララウンドの設定
        %p
          シリーズ開催日に開催できた場合、予備日でエクストララウンドを開催する。<br>
          1艇につき選手3名までの乗船を認める（船長が参戦しない場合は4人乗船）
          エクストララウンドには、中止代替え日を設定しない。
        %h2
          %i.fa.fa-chevron-right 第4条 安全管理
        %h3 4-1 事故等の責任について
        %p
          大会中に生じたあらゆる事態への責任を各自で負う事とし、実行委員会は全ての不測事態および事故等への責任は完全免責(免責10割)とする事を承認の上で、大会にエントリーすること。
        %h3 4-2 保険について
        %p 大会参加者については、船舶保険証券のコピーを提出（複数の船舶をお持ちの方は、全ての書類を提出する）
        %h3 4-3 大会参加における特別措置
        %p
          大会参加者は、悪天候等の正当な理由がある場合に限り、前日から大会翌日までDmarinaに無償で係留することを認めるものとする（D-marinaの許可が必要）<br>
          但し、無償係留期間外は係留費用が発生するため為、あらかじめ参加者は各自確認の事。
        %h2
          %i.fa.fa-chevron-right 第5条 その他
        %h3 5-1 大会規定の変更
        %p 実行委員会は本大会の安全かつ有意義な開催のため、予告なく大会規定の変更および追加を行う場合がある。
        %h3 5-2 優先すべき事項
        %p 大会中は、他の選手、漁業関係者、港湾業務者、周囲の人々とのトラブル回避、およびすべての安全面を最優先とすること。


      - if false
        %h1
          %i.fa.fa-file-text-o
          競技方法（2015年11月改定）
        %section#regulations
          %h2
            %i.fa.fa-chevron-right 第1条 大会趣旨
          %p
            東京湾にて、ルアー＆フライによるボートシーバスフィッシングのトップアングラーを決定する。<br>
            同時に本大会を通じ、より多くの人々にルアーフィッシングの楽しさや東京湾という自然の素晴らしさを発信することを目的とする。
          %h2
            %i.fa.fa-chevron-right 第2条 参加資格
          %p
            ・二級小型船舶操縦士の有資格者でなおかつ取得してから１年以上経過している方<br>
            ・大会規定を十分理解し、誓約書を提出できる方<br>
            ・船舶保険に加入した船舶を利用する方
          %p ※スポット参戦に関しては、1選手＆1船長を認める
          %h2
            %i.fa.fa-chevron-right 第3条 大会ルール
          %h3 3-1 競技方式
          %p
            ・原則として1艇に1名（選手兼キャプテン）で競技する。スポット参戦（3-8-8参照）においては2名（選手とキャプテン）を認める。<br>
            ・大会規定で定めるルアー及びフライ（疑似餌）にて釣った叉長40cm上の生魚のシーバス（鱸）5匹の合計叉長で競う。<br>
            ・スタートは抽選にて順番での出航とする。
          %h3 3-2 ルアー及びフライの定義
          %p
            本大会において「ルアー及びフライ」は疑似餌全般を指します。<br>
            ※生餌の使用は禁止です。<br>
            ※フック（針）は、かえしの無いバーブレスフックを使用してください。かえしのあるフック（針）の使用は固く禁じます。
          %h3 3-3 競技エリア
          %p
            観音崎灯台と富津岬の先端を結んだ線上の北側の東京湾(陸からの釣りは禁止)を競技エリアとする。<br>
            海苔棚や定置網などからは500m以上離れる。また、金沢八景へリポート南端から野島堤防赤灯台を結んだ線の内側（西側）を禁止エリアとする。<br>
            釣りをする場所の選択は選手各自の責任および判断に委ねる。ただし、天候、等の状況により実行委員会にて当日の競技エリアを制限する場合がある。
          %h3 3-4 計測
          %p
            ・スタート時に実行委員により、イケス（ライブウェル）のチェックを行います。<br>
            ・競技時間中にルアーで釣り上げた叉長40cm以上生魚のシーバス5匹の叉長の合計を計測対象とする。<br>
            0.5cm単位で切り捨て（例58.4cm⇒58cm、62.8cm⇒62.5cm）。同叉長の場合は最大魚が大きい方となり、最大長が同じ場合は帰着時間が早い方となります。<br>
            ・計測は各ボートにて実行委員が行う。計測時に30秒以上横たわっている魚は対象外とする。また、放流時に30秒以上自力で泳ぎださない場合は、対象外とする。<br>
            ・検量は抽選で引いたウェインカードを返却箱に返却した順に行う。また、ノーフィッシュの場合も必ずウェインカードは返却すること。（返却が無い場合は紛失したものとして、別途請求いたします）
          %h3 3-5 装備
          %p
            ・ライフジャケットは必ず着用すること。(着用が認められない場合は失格とする。)<br>
            ・フックはすべてバーブレスとすること。<br>
            ・安全のため帽子、サングラスなどを着用すること。
          %h3 3-6 帰着の定義
          %p
            検量場所の前の水路に入った状態を帰着とする（集合場所にて確認できる状態）。<br>
            帰着の締切時間にこの状態にない者は帰着と認めない。
          %h3 3-7 各ラウンドのポイント
          %p
            優勝100ポイント、準優勝90ポイント、3位85ポイント、4位80ポイント、5位75ポイント以降5ポイントずつ減。
          %p
            競技中に他のボートの救助で試合放棄した場合は、無条件で50ポイント付与。ただし、規定時間内にウェイイン出来た場合はこの限りではない
          %h3 3-8 禁止・失格・ペナルティー事項
          %h4 3-8-1
          %p
            受付完了時間に遅れた場合、当日の記録より-10㎝のペナルティーが発生する。<br>
            また、受付完了時間より30分以上の遅れは当日の記録より-30㎝のペナルティーが発生する
          %h4 3-8-2
          %p
            帰着時間に帰着状態にない者は失格とする（帰着の定義を参考のこと）。<br>
            但し、参加ポイントは獲得できる。（計測はしない）
          %h4 3-8-3
          %p
            計測時に6匹以上計測対象魚が確認できた場合は失格とする（計測係乗船前のリリースは認める）。<br>
            但し参加ポイントは獲得できる。（計測はしない）
          %h4#rule3-8-4 3-8-4
          %p
            スローエリアでの速度の順守。明らかな速度違反が判明した場合は、失格とする。参加ポイントも獲得できない。
          %h4 3-8-5
          %p
            大会中外部及び選手同士の通信連絡の禁止
          %h4 3-8-6
          %p
            スポット参戦は順位を付けるが、各大会のポイントは付かない。<br>
            また、年間参戦者の順位ポイント繰り上げは行わない。
          %h4 3-8-7
          %p
            インディーフィッシングの禁止。(桟橋やふ頭の下に船を潜らせて釣りを行う行為を禁止)
          %h3 3-9 表彰
          %p
            各戦上位3名を表彰し、表彰状を授与する。
          %h3 3-10 シリーズチャンピオンシップ
          %p
            全6戦中5戦の合計ポイントによりBSTシリーズチャンピオンを決定する。<br>
            但し合計ポイントが同じ場合は、全6戦のポイント合計上位の者をシリーズチャンピオンと定める。<br>
            それでも同ポイントの場合は全戦中の最大3匹の合計叉長で決定する。
          %p
            ☆1戦中止の場合は5戦の合計ポイントでシリーズチャンピオンを決定する。<br>
            2戦以上中止の場合は、代替え戦を1戦行う（日程参照）。<br>
            シリーズ獲得ポイント＋代替え戦の合計ポイントでシリーズチャンピオンを決定する。<br>
            また、シリーズチャンピオン以下の選手も同様に順位をつけるものとする。<br>
            ☆代替え戦予備日も中止になった場合は、代替え戦は行わずシリーズ合計ポイントでシリーズチャンピオンを確定する
          %h4 入れ替え戦について
          %p
            年間ランキング8位までは翌年のシリーズ参戦シード資格を得られる。<br>
            辞退者がいる場合は、繰り上げとなる。<br>
            6月30日までに翌年シリーズ参加者を募り、新規参加者がいる場合は、入替え戦を行う。<br>
            ※2016年度の入れ替え戦に限っては2015年11月25日締め切り時点で15艇を超えた場合に限り実施
          %h3 3-11 参加費用
          %p
            年間エントリー制 15艇締め切り 1選手￥60,000<br>
            スポット参戦（各戦15艇に満たなかった場合、随時募集）1選手￥12,000<br>
            ※当日現金にてお支払ください<br>
            ☆中止があった場合年間エントリーからの返金はありません。<br>
            スポット参戦選手には原則返金する。<br>
          %h3 3-12 集合及び検量場所
          %p
            D-marina<br>
            横浜市神奈川区東神奈川2-49-11<br>
            TEL:045-461-1062
          %h3 3-13 参加申し込み
          %p
            シリーズ参加選手は締め切り（随時告知）までにWEBフォームから仮エントリーを行い、12月15日までに指定口座へ振込を完了すること。<br>
            ※2016年度分に限り、2015年11月27日までに振り込むこと。<br>
            スポット参戦選手は事務局へ直接連絡、エントリーフィーは当日現金にてお支払ください。
          %h3 3-14 当日のスケジュール
          %table
            %tbody
              %tr
                %td 〜08:10
                %td
                  出船順抽選：くじ引きにより出船順を決めます。
              %tr
                %td 08:15〜
                %td
                  ライブウェルチェック：スタッフが参加艇のライブウェル（生け簀）をチェックします。
              %tr
                %td 08:20〜
                %td
                  キャプテンミーティング：ルールについての説明や当日の流れなどを説明します。
              %tr
                %td 08:40〜45
                %td
                  スタート：くじ引きで決定した順に出船します。スローエリア離脱後、競技を開始してください。
              %tr
                %td 〜12:50
                %td
                  ストップフィッシング：競技を終了し制限時間までに帰着してください。
              %tr
                %td 13:30〜
                %td 検量：帰着順に検量を開始します。
              %tr
                %td 14:00〜
                %td 表彰式：昼食後、表彰式を行います。
          %h3 3-15 年間スケジュール
          %p スケジュールを参照ください。
          %h3 3-16 中止について
          %p
            開催日が中止になった場合、予備日に開催をする。<br>
            予備日も中止になった場合、代替え戦は基本的に行わない。<br>
            但し、シリーズで2戦以上中止になった場合は、代替え戦を1戦のみ行うものとする。<br>
            ※当日6:00に大会実行委員会が中止か否かの発表を公式ホームページ及び公式ブログ上で行う。大会当日集合時間後でも天候急変の場合、中止になる場合もあります。
          %h2
            %i.fa.fa-chevron-right 第4条 安全管理
          %h3 4-1 事故等の責任について
          %p
            大会中に生じたあらゆる事態への責任を各自で負う事とし、実行委員会は全ての不測事態および事故等への責任は完全免責(免責10割)とする事を承認の上で、大会にエントリーすること。
          %h3 4-2 保険について
          %p 大会参加者については、船舶保険証券のコピーを提出。
          %h2
            %i.fa.fa-chevron-right 第5条 その他
          %h3 5-1 大会規定の変更
          %p 実行委員会は本大会の安全かつ有意義な開催のため、予告なく大会規定の変更および追加を行う場合がある。
          %h3 5-2 優先すべき事項
          %p 大会中は、他の選手、漁業関係者、港湾業務者とのトラブル回避、およびすべての安全面を最優先とすること。


      - if false
        %h1
          %i.fa.fa-file-text-o
          競技方法
        %section#regulations
          %h2
            %i.fa.fa-chevron-right
            第1条 大会趣旨
          %p
            東京湾にてボートによるルアーシーバスフィッシングのトップアングラーを決めるとともに、ルアーシーバスの競技性の可能性をもとめ、東京湾近郊に住む多くの国民にルアーフィッシングの楽しさや自然の教訓を知ってもらうために開催する。
          %h2
            %i.fa.fa-chevron-right
            第2条 大会ルール
          %h3 2-1 競技方式
          %p
            ・大会規定で定めるルアー及びフライ（疑似餌）にて釣った叉長40cm以上の生魚のシーバス（鱸）3匹の合計叉長で競う。
            %br
            ・スタートは抽選にて順番での出航とする。
          %h3 2-2 ルアー及びフライの定義
          %p
            本大会において「ルアー及びフライ」は疑似餌全般を指します。
            %br
            ※生餌の使用は禁止です。
            %br
            ※フック（針）は、かえしの無いバーブレスフックを使用してください。かえしのあるフック（針）の使用は固く禁じます。
          %h3 2-3 競技エリア
          %p
            観音崎灯台と富津岬の先端を結んだ線上の北側の東京湾(陸からの釣りは禁止)を競技エリアとする。
            %br
            海苔棚や定置網などからは500m以上離れる。また、金沢八景へリポート南端から野島堤防赤灯台を結んだ線の内側（西側）を禁止エリアとする。
            %br
            釣りをする場所の選択は選手各自の責任および判断に委ねる。ただし、天候、等の状況により実行委員会にて当日の競技エリアを制限する場合がある。
          %h3 2-4 計測
          %p
            ・スタート時に実行委員により、イケス（ライブウェル）のチェックを行います。
            %br
            ・競技時間中にルアーで釣り上げた叉長40cm以上生魚のシーバス3匹の叉長の合計を計測対象とする。0.5cm単位で切り捨て（例58.4cm⇒58cm、62.8cm⇒62.5cm）。同叉長の場合は最大魚が大きい方となり、最大長が同じ場合は帰着時間が早い方となります。計測は各ボートにて実行委員が行う。計測時に30秒以上横たわっている魚は対象外とする。また、放流時に30秒以上自力で泳ぎださない場合は、対象外とする。
            %br
            ・検量は抽選で引いたウェインカードを返却箱に返却した順に行う。また、ノーフィッシュの場合も必ずウェインカードは返却すること。（返却が無い場合は紛失したものとして、別途請求いたします）
          %h3 2-5 装備
          %p
            ・ライフジャケットは必ず着用すること。(着用が認められない場合は失格とする。)
            %br
            ・フックはすべてバーブレスとすること。
            %br
            ・安全のため帽子、サングラスなどを着用すること。
          %h3 2-6 帰着の定義
          %p
            検量場所の前の水路に入った状態を帰着とする（集合場所にて確認できる状態）。帰着締切時間にこの状態にない者は帰着と認めない。
          %h3 2-7 各大会のポイント
          %p
            優勝100ポイント
            %br
            準優勝90ポイント
            %br
            3位85ポイント
            %br
            以降５ポイントづつ減。16位以下は一律5ポイント。但し順位はつける。
          %h3 2-8 禁止・失格・ペナルティー事項
          %p
            1: 受付完了時間に遅れた場合、当日の記録より-10㎝のペナルティーが発生する。 また、受付完了時間より30分以上の遅れは当日の記録より-30㎝のペナルティーが発生する。
            %br
            2: 帰着時間に帰着状態にない者は失格とする（帰着の定義を参考のこと）。但し、参加ポイントは獲得できる。（計測はしない）
            %br
            3: 計測時に４匹以上計測対象魚が確認できた場合は失格とする（計測係乗船前のリリースは認める）。但し参加ポイントは獲得できる。（計測はしない）
            %br
            4: 1艇で複数人参加の場合、どの魚がどの選手のものか計測係が明確に判別できない場合はその船の選手は失格とする。但し参加ポイントは獲得できる（計測はしない）
            %br
            5: 計測時、計測対象魚に目印以外のものが魚に着いている場合は、その魚は計測対象外とし計測しない。
            %br
            ※目印以外のものとは、計測係がみて不自然なもの全てを指し、計測係がその場で判断できるものとする。（1艇1名参加の場合は、計測時目印を外してある方が望ましい。また1艇2名参加の場合は、1名のみに目印をつけるのが望ましい）
            %br
            6: スローエリアでの速度の順守。明らかな速度違反が判明した場合は、失格とする。参加ポイントも獲得できない。
            %br
            = image_tag "regulations/img_pic-deadslowarea.gif", alt: "デッドスローエリア", width: "300", height: "224"
            7: 大会中外部及び選手同士の通信連絡の禁止 ※当日プラクティスの禁止は廃止。
          %h3 2-9 表彰
          %p
            各戦上位3名を表彰し、表彰状を授与する。
          %h3 2-10 シリーズチャンピオンシップ
          %p
            全5戦中4戦の合計ポイントによりBSTシリーズチャンピオンを決定する。
            %br
            但し合計ポイントが同じ場合は、全5戦のポイント合計上位のものをシリーズチャンピオンと定める。
            %br
            それでも同ポイントの場合は全戦中の最大3匹の合計叉長で決定する。また、シリーズチャンピオン以下の選手も同様に順位をつけるものとする。
          %h3 2-11 参加費
          %p
            各戦1選手につき￥5,000円
          %h3 2-12 集合及び検量場所
          %p
            D-marina
            %br
            横浜市神奈川区東神奈川2-49-11
            %br
            TEL:045-461-1062 
          %h3 2-14 スケジュール
          %table
            %tbody
              %tr
                %td 〜08:10
                %td
                  参加費用5000円を納入し受付を完了させてください。
              %tr
                %td 08:15〜
                %td
                  ライブウェルチェック：スタッフが参加艇のライブウェル（生け簀）をチェックします。
              %tr
                %td 08:20〜
                %td
                  出船順抽選：くじ引きにより出船順を決めます。<br>
                  キャプテンミーティング：ルールについての説明や当日の流れなどを説明します。
              %tr
                %td 08:40〜45
                %td
                  スタート：くじ引きで決定した順に出船します。スローエリア離脱後、競技を開始してください。
              %tr
                %td 〜12:50
                %td
                  ストップフィッシング：競技を終了し制限時間までに帰着してください。
              %tr
                %td 13:30〜
                %td 検量：帰着順に検量を開始します。
              %tr
                %td 14:00〜
                %td 表彰式：昼食後、表彰式を行います。
          %h2
            %i.fa.fa-chevron-right
            第3条 安全管理
          %h3 3-1 事故等の責任について
          %p
            大会中に生じたあらゆる事態への責任を各自で負う事とし、実行委員会は全ての不測事態および事故等への責任は完全免責(免責10割)とする事を承認の上で、大会にエントリーすること。 
          %h2 第4条 その他
          %h3 4-1 大会規定の変更
          %p
            実行委員会は本大会の安全かつ有意義な開催のため、予告なく大会規定の変更および追加を行う場合がある。
          %h3 4-2 優先すべき事項
          %p
            大会中は、他の選手、漁業関係者、港湾業務者とのトラブル回避、およびすべての安全面を最優先とすること。
          %h3 4-3 中止規定
          %p
            中止の決定は事務局の判断により、前日の午後５時までに参加者へ連絡する。
    #sub_column
      = partial "shared/blog_info"
      = partial "shared/committee_info"


