---
title: 競技方法
---
= partial "shared/global_navigation", :locals => {:val => "regulations"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li 競技方法
%article#content
  #content_inner
    #main_column.double
      %h1
        %i.fa.fa-file-text-o
        競技方法
      %section#regulations
        %h2
          %i.fa.fa-chevron-right
          第1条 大会趣旨
        %p
          東京湾にてボートによるルアーシーバスフィッシングのトップアングラーを決めるとともに、ルアーシーバスの競技性の可能性をもとめ、東京湾近郊に住む多くの国民にルアーフィッシングの楽しさや自然の教訓を知ってもらうために開催する。
        %h2
          %i.fa.fa-chevron-right
          第2条 大会ルール
        %h3 2-1 競技方式
        %p
          ・大会規定で定めるルアー及びフライ（疑似餌）にて釣った叉長40cm以上の生魚のシーバス（鱸）3匹の合計叉長で競う。
          %br
          ・スタートは抽選にて順番での出航とする。
        %h3 2-2 ルアー及びフライの定義
        %p
          本大会において「ルアー及びフライ」は疑似餌全般を指します。
          %br
          ※生餌の使用は禁止です。
          %br
          ※フック（針）は、かえしの無いバーブレスフックを使用してください。かえしのあるフック（針）の使用は固く禁じます。
        %h3 2-3 競技エリア
        %p
          観音崎灯台と富津岬の先端を結んだ線上の北側の東京湾(陸からの釣りは禁止)を競技エリアとする。
          %br
          海苔棚や定置網などからは500m以上離れる。また、金沢八景へリポート南端から野島堤防赤灯台を結んだ線の内側（西側）を禁止エリアとする。
          %br
          釣りをする場所の選択は選手各自の責任および判断に委ねる。ただし、天候、等の状況により実行委員会にて当日の競技エリアを制限する場合がある。
        %h3 2-4 計測
        %p
          ・スタート時に実行委員により、イケス（ライブウェル）のチェックを行います。
          %br
          ・競技時間中にルアーで釣り上げた叉長40cm以上生魚のシーバス3匹の叉長の合計を計測対象とする。0.5cm単位で切り捨て（例58.4cm⇒58cm、62.8cm⇒62.5cm）。同叉長の場合は最大魚が大きい方となり、最大長が同じ場合は帰着時間が早い方となります。計測は各ボートにて実行委員が行う。計測時に30秒以上横たわっている魚は対象外とする。また、放流時に30秒以上自力で泳ぎださない場合は、対象外とする。
          %br
          ・検量は抽選で引いたウェインカードを返却箱に返却した順に行う。また、ノーフィッシュの場合も必ずウェインカードは返却すること。（返却が無い場合は紛失したものとして、別途請求いたします）
        %h3 2-5 装備
        %p
          ・ライフジャケットは必ず着用すること。(着用が認められない場合は失格とする。)
          %br
          ・フックはすべてバーブレスとすること。
          %br
          ・安全のため帽子、サングラスなどを着用すること。
        %h3 2-6 帰着の定義
        %p
          検量場所の前の水路に入った状態を帰着とする（集合場所にて確認できる状態）。帰着締切時間にこの状態にない者は帰着と認めない。
        %h3 2-7 各大会のポイント
        %p
          優勝100ポイント
          %br
          準優勝90ポイント
          %br
          3位85ポイント
          %br
          以降５ポイントづつ減。16位以下は一律5ポイント。但し順位はつける。
        %h3 2-8 禁止・失格・ペナルティー事項
        %p
          1: 受付完了時間に遅れた場合、当日の記録より-10㎝のペナルティーが発生する。 また、受付完了時間より30分以上の遅れは当日の記録より-30㎝のペナルティーが発生する。
          %br
          2: 帰着時間に帰着状態にない者は失格とする（帰着の定義を参考のこと）。但し、参加ポイントは獲得できる。（計測はしない）
          %br
          3: 計測時に４匹以上計測対象魚が確認できた場合は失格とする（計測係乗船前のリリースは認める）。但し参加ポイントは獲得できる。（計測はしない）
          %br
          4: 1艇で複数人参加の場合、どの魚がどの選手のものか計測係が明確に判別できない場合はその船の選手は失格とする。但し参加ポイントは獲得できる（計測はしない）
          %br
          5: 計測時、計測対象魚に目印以外のものが魚に着いている場合は、その魚は計測対象外とし計測しない。
          %br
          ※目印以外のものとは、計測係がみて不自然なもの全てを指し、計測係がその場で判断できるものとする。（1艇1名参加の場合は、計測時目印を外してある方が望ましい。また1艇2名参加の場合は、1名のみに目印をつけるのが望ましい）
          %br
          6: スローエリアでの速度の順守。明らかな速度違反が判明した場合は、失格とする。参加ポイントも獲得できない。
          %br
          = image_tag "regulations/img_pic-deadslowarea.gif", alt: "デッドスローエリア", width: "300", height: "224"
          7: 大会中外部及び選手同士の通信連絡の禁止 ※当日プラクティスの禁止は廃止。
        %h3 2-9 表彰
        %p
          各戦上位3名を表彰し、表彰状を授与する。
        %h3 2-10 シリーズチャンピオンシップ
        %p
          全6戦中5戦の合計ポイントにより2014年BSTシリーズチャンピオンを決定する。
          %br
          但し合計ポイントが同じ場合は、全6戦のポイント合計上位のものをシリーズチャンピオンと定める。
          %br
          それでも同ポイントの場合は全戦中の最大3匹の合計叉長で決定する。また、シリーズチャンピオン以下の選手も同様に順位をつけるものとする。
        %h3 2-11 参加費
        %p
          各戦1選手につき￥5,000円
        %h3 2-12 集合及び検量場所
        %p
          D-marina
          %br
          横浜市神奈川区東神奈川2-49-11
          %br
          TEL:045-461-1062 
        %h3 2-14 スケジュール
        %table
          %tr
            %td 〜08:15
            %td 受付、出船順抽選、ライブウェルチェック
          %tr
            %td 08:20〜
            %td ミーティング
          %tr
            %td 08:40〜
            %td 乗船・スタート
          %tr
            %td 〜12:50
            %td ストップフィッシング
          %tr
            %td 13:30〜
            %td 帰着順に検量
          %tr
            %td 14:00〜
            %td 昼食・表彰式
        %h2
          %i.fa.fa-chevron-right
          第3条 安全管理
        %h3 3-1 事故等の責任について
        %p
          大会中に生じたあらゆる事態への責任を各自で負う事とし、実行委員会は全ての不測事態および事故等への責任は完全免責(免責10割)とする事を承認の上で、大会にエントリーすること。 
        %h2 第4条 その他
        %h3 4-1 大会規定の変更
        %p
          実行委員会は本大会の安全かつ有意義な開催のため、予告なく大会規定の変更および追加を行う場合がある。
        %h3 4-2 優先すべき事項
        %p
          大会中は、他の選手、漁業関係者、港湾業務者とのトラブル回避、およびすべての安全面を最優先とすること。
        %h3 4-3 中止規定
        %p
          中止の決定は事務局の判断により、前日の午後５時までに参加者へ連絡する。
    #sub_column
      = partial "shared/blog_info"
      = partial "shared/committee_info"


