---
title: 競技方法
---
= partial "shared/global_navigation", :locals => {:val => "regulations"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li 競技方法
%article#content
  #content_inner
    #main_column.double
      %h1
        %i.fa.fa-file-text-o
        競技方法（2019年8月改定）
      %section#regulations
        %h2
          %i.fa.fa-chevron-right 第1章 競技規定
        %h3 第1条 競技方法
        %p
          大会規定で定めるルアー及びフライ（疑似餌）にて釣った叉長40cm上のシーバス3匹の合計叉長で競う。
          タックルの数などは特に制限を設けない。
        %h4 フライト順
        %p キャプテンミーティング時にくじ引きにより決定（暫定）
        %h3
          %i.fa.fa-chevron-right 第2条 参加資格
        %p
          ・二級小型船舶操縦士の有資格者でなおかつ取得してから1年以上経過している者（プロガイドを雇う参加選手はその限りでない）<br>
          ・大会規定を十分理解したうえで選手登録をし、大会規定を遵守できる者<br>
          ・船舶保険に加入した船舶を利用する者<br>
          ・常時連絡がとれる電話番号とメールアドレスを有する者
        %h3
          %i.fa.fa-chevron-right 第3条 エントリーフィー
        %p
          1試合につき10000円、船長を雇う場合は船長の登録諸費用として別途3000円。<br>
          当日、会場にてお支払いください。

        %h3 第3条 選手構成
        %p
          1艇に1名または1艇に2名（1選手1船長）で競技する。後者の場合、船長は釣りをする事はできない。<br>
          但し、釣りの補助行為は認める。例：タモ入れ等

        %h3 第4条 ルアー及びフライの定義
        %p
          本大会において「ルアー及びフライ」は疑似餌全般を指す。

        %h3 第5条 競技エリア
        %p 観音崎灯台と富津岬の先端を結んだ線上の北側の東京湾(陸からの釣りは禁止)を競技エリアとする。海苔棚や定置網などからは500m以上離れる。また、金沢八景へリポート南端から野島堤防赤灯台を結んだ線の内側（西側）を禁止エリアとする。
        %p 釣りをする場所の選択は選手各自の責任および判断に委ねる。ただし、天候等の状況により実行委員会にて当日の競技エリアを制限する場合がある。

        %h3 第6条 禁止事項・ペナルティ
        %h4 禁止事項
        %p 以下に抵触した場合は失格とする。
        %ul
          %li ・競技時間外の釣行
          %li ・競技時間外に準備した魚を検量に持ち込む
          %li ・選手以外が捕獲した魚を検量に持ち込む
          %li ・ルアーおよびフライ以外で捕獲した魚を検量に持ち込む
          %li ・バーブ（かえし）ありフックの使用（かえしを潰したものは使用可能）
          %li ・ライフジャケット着用義務違反（国土交通省の基準をクリアしているもの）
          %li ・インディーフィッシング(桟橋やふ頭の下に船を潜らせて釣りを行う行為) 
          %li ・検量時に4匹以上の対象魚を保有していた場合
          %li
            ・安全管理区間(レッド・イエローゾーン)において以下の行為をした選手
            %ul
              %li ・レッドゾーンでの追い越し行為（実行委員指示によるもの等は除く）
              %li ・魚のリリース
              %li ・危険行為
          %li ・帰着時間までに帰着状態にない場合

        %h4 ペナルティ
        %p 受付完了時間に遅れた（30分未満）場合、当日の記録より10㎝、それ以上は30㎝減算する。
        %h3 第7条 帰着の定義
        %p
          13：30までにレッドゾーン内（資料参照）で帰着確認員が選手を確認した状態を帰着とする。<br>
          魚のケア等の理由により早い時間に帰着を希望する選手は、帰着確認員へその旨を連絡しタイクーン桟橋に着岸した時点で帰着と認めるが、競技時間内であっても競技の再開は認めない。  
        %h3 第8条 検量
        %h4 検量方法
        %ul
          %li
            ・検量は帰着順に行う
            %ul
              %li ・検量が必要な選手は検量ボックスへウェイインカードを返却、不要な選手はノーフィッシュボックスへカードを返却する
          %li ・各ボートにて実行委員が行う

        %h4 検量基準
        %ul
          %li ・叉長40cm以上のシーバス3匹までを検量対象とする
          %li ・計測は0.5cm単位で切り捨て（例58.4cm⇒58cm、62.8cm⇒62.5cm）
          %li ・合計叉長が同じ場合は最大魚が大きい選手、最大魚も同じ場合は帰着が早い選手が上位とする。
          %li
            ・以下は検量の対象としない
            %ul
              %li ・15秒遊泳できていない状態（手を添える状態は可とする）の魚
              %li ・死魚とみなせるもの

        %h3 第9条 表彰
        %p 上位3名を表彰しトロフィーを授与する。
        %h2
          %i.fa.fa-chevron-right 第2章 安全管理
        %h3 第1条 事故等の責任
        %p 大会中に生じたあらゆる事態への責任を各自で負う事とし、実行委員会、大会会場運営者、協賛企業等は全ての不測事態および事故等への責任は完全免責(免責10割)とする。 
        
        %h3 第2条 船舶保険
        %p
          船舶保険証券のコピーを提出（複数の船舶をお持ちの方は、全ての書類を提出する）<br>
          但し、遊漁船業者はその限りではない。（遊漁登録船舶での参加の場合は提出する）
        %h3 第3条 大会参加における特別措置
        %ul
          %li
            三井住友海上火災保険（株）団体総合生活補償保険に加入します（エントリーフィーから強制加入）<br>
            有事の際、大会参加者及び関係者は保険適用される場合があります。
          %li
            機関不良等の選手に対し救助を行った選手には参加費を返還するものとする
            %ul
              %li ・状況により選手と実行委員会が相談し検量を行うか協議できるものとする
              %li ・特別表彰をする
        %h3 優先事項
        %p 大会中は、他の選手、漁業関係者、港湾業務者、周囲の人々とのトラブル回避、およびすべての安全面を最優先とすること。
        %p 安全管理区間での速度の順守。明らかな速度違反が判明した場合は失格とする。レッドゾーンエリアでは、追い越し禁止、アイドリング走行の厳守。各船1000回転以下で航行の厳守。イエローゾーンは狭い水路の為、他船には十分注意し安全第一に航行の事。
        %h4 装備
        %p
          ライフジャケットは必ず着用する（未着用の場合は失格）<br>
          帽子やサングラス等、自身を守る装備を着用すること
        %h3 中止の判定
        %p
          大会前日19：00時点で海ほたるの風予想が10mに達している場合、実行委員が協議し中止にするかどうか協議を行う。<br>
          20：00にメールで参加選手へ開催の有無を送信する。但し、急激な天候の変化により大会実行委員会が判断を変更する場合がある。
        %h3 安全管理区間
        %p
          レッドゾーン：デッドスローエリア<br>
          イエローゾーン：船舶の往来の妨げにならないよう安全航行エリア<br>
          ※レッドおよびイエローゾーン内は魚のリリースを禁止する

        = image_tag('regulations/safetyzone.png')




    #sub_column
      = partial "shared/blog_info"
      = partial "shared/committee_info"


