---
title: B.S.T 2013 ボートシーバストーナメント競技日程
description: B.S.T 2013シリーズ年間競技日程です。
---
= partial "shared/global_navigation", :locals => {:val => "schedules"}
#topicpath
  %ol
    %li
      = link_to "B.S.T公式TOP", "/"
      %i.fa.fa-angle-right
    %li B.S.T 2013 ボートシーバストーナメント競技日程
#imagepanel_low
  #imagepanel_low_inner.schedules_header
    .bg_layer
      %h1 B.S.T 2013シリーズ競技日程
%article#content
  #content_inner
    #main_column.single
      %section#events
        %p.section_summary
          B.S.T 2013シリーズ年間競技日程です。
        .element
          .eye_catch
            = image_tag("schedules/2013/img_thumb-round1.jpg", alt: "2013 第1戦", width: "160", height: "120")
          .this_content
            %span.danger 終了
            %h2 B.S.T 2013 第1戦
            %dl
              %dt 開催日：
              %dd 2013年3月26日（火）
            %p
              優勝：福永 雄海さん、準優勝：花野 修さん、3位：鈴木 雅登さん
              %br
              = link_to "/results/2013/round1.html" do
                %i.fa.fa-caret-right
                詳しくはこちら
        .element
          .eye_catch
            = image_tag("schedules/2013/img_thumb-round2.jpg", alt: "2013 第2戦", width: "160", height: "120")
          .this_content
            %span.danger 終了
            %h2 B.S.T 2013 第2戦
            %dl
              %dt 開催日：
              %dd 2013年5月21日（火）
            %p
              優勝：柿澤 寛さん、準優勝：森田 英典さん、3位：古谷 誠さん
              %br
              = link_to "/results/2013/round2.html" do
                %i.fa.fa-caret-right
                詳しくはこちら
        .element
          .eye_catch
            = image_tag("schedules/2013/img_thumb-round3.jpg", alt: "2013 第3戦", width: "160", height: "120")
          .this_content
            %span.danger 終了
            %h2 B.S.T 2013 第3戦
            %dl
              %dt 開催日：
              %dd 2013年7月23日（火）
            %p
              優勝：森田 英典さん、準優勝：花野 修さん、3位：兼古 卓弥さん
              %br
              = link_to "/results/2013/round3.html" do
                %i.fa.fa-caret-right
                詳しくはこちら
        .element
          .eye_catch
            = image_tag("schedules/2013/img_thumb-round4.jpg", alt: "2013 第4戦", width: "160", height: "120")
          .this_content
            %span.danger 終了
            %h2 B.S.T 2013 第4戦
            %dl
              %dt 開催日：
              %dd 2013年9月10日（火）
            %p
              優勝：柿澤 寛さん、準優勝：平澤 貴一さん、3位：齋藤 剛宏さん
              %br
              = link_to "/results/2013/round4.html" do
                %i.fa.fa-caret-right
                詳しくはこちら
      %section#ranking_list
        %h1
          %i.fa.fa-calendar
          その他のシリーズ日程
        %ul
          %li.s2015
            = link_to "/schedules/index.html" do
              %span
                2015年
          %li.s2014
            = link_to "/schedules/2014.html" do
              %span
                2014年
