---
title: BST 2014 ボートシーバストーナメント競技日程
description: BST 2014シリーズ年間競技日程です。
---
= partial "shared/global_navigation", :locals => {:val => "schedules"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li BST 2014 ボートシーバストーナメント競技日程
#imagepanel_low
  #imagepanel_low_inner.schedules_header
    .bg_layer
      %h1 BST 2014シリーズ競技日程
%article#content
  #content_inner
    #main_column.single
      %section#events
        %p.section_summary
          BST 2014シリーズ年間競技日程です。
        .element
          .eye_catch
            = image_tag("schedules/2014/img_thumb-round1.jpg", alt: "2014 第1戦", width: "160", height: "120")
          .this_content
            %span.danger 終了
            %h2 BST 2014 第1戦
            %dl
              %dt 開催日：
              %dd 2014年1月14日（火）
            %p
              優勝：大畠 拓さん、準優勝：遠藤 正明さん、3位：山崎 正憲さん
              %br
              = link_to "/results/2014/round1.html" do
                %i.fa.fa-caret-right
                詳しくはこちら
        .element
          .eye_catch
            = image_tag("schedules/2014/img_thumb-round2.jpg", alt: "2014 第2戦", width: "160", height: "120")
          .this_content
            %span.danger 終了
            %h2 BST 2014 第2戦
            %dl
              %dt 開催日：
              %dd 2014年3月11日（火）
            %p
              優勝：福永 雄海さん、準優勝：柿澤 寛さん、3位：森田 英典さん
              %br
              = link_to "/results/2014/round2.html" do
                %i.fa.fa-caret-right
                詳しくはこちら
        .element
          .eye_catch
            = image_tag("schedules/2014/img_thumb-round3.jpg", alt: "2014 第3戦", width: "160", height: "120")
          .this_content
            %span.danger 終了
            %h2 BST 2014 第3戦
            %dl
              %dt 開催日：
              %dd 2014年5月20日（火）
            %p
              優勝：柿澤 寛さん、準優勝：大畠 拓さん、3位：福永 雄海さん
              %br
              = link_to "/results/2014/round3.html" do
                %i.fa.fa-caret-right
                詳しくはこちら
        .element
          .eye_catch
            = image_tag("schedules/2014/img_thumb-round4.jpg", alt: "2014 第4戦", width: "160", height: "120")
          .this_content
            %span.danger 終了
            %h2 BST 2014 第4戦
            %dl
              %dt 開催日：
              %dd 2014年7月8日（火）
            %p
              優勝：Takeさん、準優勝：数野 達也さん、3位：森田 英典さん
              %br
              = link_to "/results/2014/round4.html" do
                %i.fa.fa-caret-right
                詳しくはこちら
        .element
          .eye_catch
            = image_tag("schedules/2014/img_thumb-round5.jpg", alt: "2014 第5戦", width: "160", height: "120")
          .this_content
            %span.danger 終了
            %h2 BST 2014 第5戦
            %dl
              %dt 開催日：
              %dd 2014年9月16日（火）
            %p
              優勝：柿澤 寛さん、準優勝：早川 昌和さん、3位：大畠 拓さん
              %br
              = link_to "/results/2014/round5.html" do
                %i.fa.fa-caret-right
                詳しくはこちら
      %section#ranking_list
        %h1
          %i.fa.fa-calendar
          その他のシリーズ日程
        %ul
          %li.s2015
            = link_to "/schedules/index.html" do
              %span
                2015年
          %li.s2013
            = link_to "/schedules/2013.html" do
              %span
                2013年
