---
title: BST 2015 ボートシーバストーナメント競技日程
description: BST 2015シリーズ年間競技日程です。開催終了していないラウンドへの参戦は随時募集しておりますので、是非ご参加ください。
---
= partial "shared/global_navigation", :locals => {:val => "schedules"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li BST 2015 ボートシーバストーナメント競技日程
#imagepanel_low
  #imagepanel_low_inner.schedules_header
    .bg_layer
      %h1 BST 2015シリーズ競技日程
%article#content
  #content_inner
    #main_column.single
      %section#events
        %p.section_summary
          BSTでは、プロ・アマ、男女問わず、参戦していただけるアングラーを随時募集しております。
          %br
          全てに参戦する必要はありませんので、挑戦してみませんか？
        .element
          .eye_catch
            .pic2015.round1
          .this_content
            %span.warning 間もなく締切
            %span.info フライOK
            %h2 BST 2015 第1戦
            %dl
              %dt 開催日：
              %dd 2015年1月27日（火）
            %p
              検討中の方は、お早めにエントリー申請お願いいたします。
              %br
              = link_to "/entry/" do
                %i.fa.fa-caret-right
                エントリー
        .element
          .eye_catch
            .pic2015.round2
          .this_content
            %span.success 絶賛募集中
            %span.info フライOK
            %h2 BST 2015 第2戦
            %dl
              %dt 開催日：
              %dd 2015年3月10日（火）
            %p
              ご不明な点などございましたら、大会事務局までお問い合せください。
              %br
              = link_to "/entry/" do
                %i.fa.fa-caret-right
                エントリー
        .element
          .eye_catch
            .pic2015.round3
          .this_content
            %span.success 絶賛募集中
            %span.info フライOK
            %h2 BST 2015 第3戦
            %dl
              %dt 開催日：
              %dd 2015年5月12日（火）
            %p
              ご不明な点などございましたら、大会事務局までお問い合せください。
              %br
              = link_to "/entry/" do
                %i.fa.fa-caret-right
                エントリー
        .element
          .eye_catch
            .pic2015.round4
          .this_content
            %span.success 絶賛募集中
            %span.info フライOK
            %h2 BST 2015 第4戦
            %dl
              %dt 開催日：
              %dd 2015年6月9日（火）
            %p
              ご不明な点などございましたら、大会事務局までお問い合せください。
              %br
              = link_to "/entry/" do
                %i.fa.fa-caret-right
                エントリー
        .element
          .eye_catch
            .pic2015.round5
          .this_content
            %span.success 募集中
            %span.info フライOK
            %h2 BST 2015 第5戦
            %dl
              %dt 開催日：
              %dd 2015年7月14日（火）
            %p
              ご不明な点などございましたら、大会事務局までお問い合せください。
              %br
              = link_to "/entry/" do
                %i.fa.fa-caret-right
                エントリー
      %section#timetable
        %h1
          %i.fa.fa-clock-o
          タイムテーブル
        %p.section_summary
          各日程は基本的に以下のスケジュールで進行しますが
          %br
          気象状況等で変更となる場合は事前に告知・連絡致します。
          %table
            %thead
              %tr
                %th 時間軸
                %th イベント
            %tbody
              %tr
                %td 〜08:15
                %td
                  受付：参加費用5000円を納入してください。
                  %br
                  出船順抽選：くじ引きにより出船順を決めます。
                  %br
                  ライブウェルチェック：スタッフが参加艇のライブウェル（生け簀）をチェックします。
              %tr
                %td 08:20〜
                %td
                  ミーティング：ルールについての説明や当日の流れなどを説明します。
              %tr
                %td 08:40〜
                %td
                  スタート：くじ引きで決定した順に出船します。禁止エリア離脱後、競技を開始してください。
              %tr
                %td 〜12:50
                %td
                  ストップフィッシング：競技を終了し制限時間までに帰着してください。
              %tr
                %td 13:30〜
                %td 検量：帰着順に検量を開始します。
              %tr
                %td 14:00〜
                %td 表彰式：昼食後、表彰式を行います。
      %section#ranking_list
        %h1
          %i.fa.fa-calendar
          過去のシリーズ日程
        %p.section_summary
          過去に開催されたシリーズの日程を参照できます。
        %ul
          %li.s2014
            = link_to "/schedules/2014.html" do
              %span
                2014年
          %li.s2013
            = link_to "/schedules/2013.html" do
              %span
                2013年
