---
title: BST 2019 ボートシーバストーナメント競技日程
description: BST 2019年の競技日程です。開催終了していないラウンドへの参戦は随時募集しておりますので、是非ご参加ください。
---
= partial "shared/global_navigation", :locals => {:val => "schedules"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li BST 2019 ボートシーバストーナメント競技日程
#imagepanel_low
  #imagepanel_low_inner.schedules_header
    .bg_layer
      %h1 BST 2019 競技日程
%article#content
  #content_inner
    #main_column.single
      = partial "shared/events2019"
      %section#timetable
        %h1
          %i.fa.fa-clock-o
          タイムテーブル
        %p.section_summary
          各日程は基本的に以下のスケジュールで進行しますが
          %br
          気象状況等で変更となる場合は事前に告知・連絡致します。
        %table
          %thead
            %tr
              %th 時間軸
              %th イベント
          %tbody
            %tr
              %td 07:30
              %td
                %h4 集合
                参加者は時間までに会場入りしてください。
            %tr
              %td 07:40
              %td
                %h4 ライブウェルチェック
                会場に到着したことが確認できた選手のライブウェル（生け簀）を
                スタッフが順次チェックします。
            %tr
              %td 07:45
              %td
                %h4 キャプテンミーティング
                ルールについての説明や当日の流れなどを説明、フライト順のくじ引き実施。<br>
                スタート地点へ各自移動。
            %tr
              %td 08:00
              %td
                %h4 スタートフィッシング
                進行方向でレーン分けし一斉スタート。
            %tr
              %td 13:00
              %td
                %h4 ストップフィッシング
                時間以降の釣行は失格となります。帰着の定義を理解したうえで帰着してください。
            %tr
              %td 13:30
              %td
                %h4 検量
                帰着順に検量を開始します。
            %tr
              %td 14:30
              %td
                %h4 表彰式
                表彰式を行います。
            %tr
              %td 15:10
              %td
                %h4 解散
                会場清掃等を済ませ解散。
      %section#ranking_list
        %h1
          %i.fa.fa-calendar
          過去のシリーズ日程
        %p.section_summary
          過去に開催されたシリーズの日程を参照できます。
        %ul
          %li.s2016
            = link_to "/schedules/2016.html" do
              %span
                2016年
          %li.s2015
            = link_to "/schedules/2015.html" do
              %span
                2015年
          %li.s2014
            = link_to "/schedules/2014.html" do
              %span
                2014年
          %li.s2013
            = link_to "/schedules/2013.html" do
              %span
                2013年
