---
title: 大会事務局 実行委員の紹介
description: BST ボートシーバストーナメントを運営しているメンバーのご紹介。
---
= partial "shared/global_navigation", :locals => {:val => "about"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li
      = link_to "/about/", itemprop: "url" do
        %span{itemprop: "title"} BST ボートシーバストーナメントについて
      %i.fa.fa-angle-right
    %li 大会事務局 実行委員の紹介
%article#content
  #content_inner
    #main_column.double
      %section#members
        %h1
          %i.fa.fa-users
          実行委員の紹介
        .element
          .column.left
            = image_tag "about/img_pic-masakazu-hayakawa.jpg", width: "160", height: "160", alt: "早川 昌和"
            %dl
              %dt
                %i.fa.fa-cog
                役割
              %dd{itemprop: "jobTitle"} 実行委員長
            %dl
              %dt
                %i.fa.fa-heart
                好きなメーカー<br>
              %dd
                = link_to "AbuGarcia", "//www.purefishing.jp/abugarcia/", target: "_blank"
                = link_to "DAIWA", "//daiwa.globeride.co.jp/", target: "_blank"
                = link_to "JACKALL", "//www.jackall.co.jp/", target: "_blank"
          .column.right
            %h2 早川 昌和 <span>Masakazu Hayakawa</span>
            .works ストライカー キャプテン
            .introduction
              %p
                幼少の頃より様々な釣りに親しみ、ルアーフィッシングの道へ。
                %br
                2003年からはボートシーバストーナメントにも参戦。
                %br
                好きなスタイルは穴撃ち。
                %br
                シーバスガイドStrikerキャプテン。
            = link_to "https://www.facebook.com/masa.mazu.1", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
        .element{itemscope: "itemscope", itemtype: "http://schema.org/Person"}
          .column.left
            = image_tag "about/img_pic-taku-obatake.jpg", width: "160", height: "160", alt: "大畠 拓", itemprop: "image"
            %dl
              %dt
                %i.fa.fa-cog
                役割
              %dd{itemprop: "jobTitle"} 実行委員長補佐
            %dl
              %dt
                %i.fa.fa-heart
                好きなメーカー<br>
              %dd 
                = link_to "//www.f-dress.jp/", target: "_blank" do
                  DRESS
                = link_to "//www.halcyon.jp/", target: "_blank" do
                  H.A.L
                = link_to "//fathom-fishing.com/", target: "_blank" do
                  fathom
          .column.right
            %h2{itemprop: "name"} 大畠 拓 <span>Taku Obatake</span>
            .works favy フロントエンドエンジニア
            .introduction{itemprop: "description"}
              %p
                HTML/CSS/JavaScriptといったフロント部分を得意とする元SEOエンジニア。ライトなPHPくらいなら何とか・・・。<br>
                Ruby On RailsのVIEW部分(HAML or ERB/SACC or SCSS/COFFEE)やWordpress等のCMS、middlemanなどが守備範囲。
              %p F.E.E.を本業とする傍ら、シーバスガイドStrikerで臨時キャプテンを務める。本大会のウェブ運用管理/広報も兼任。
            = link_to "https://www.facebook.com/taku.obatake", title: "Facebook", target: "_blank", itemprop: "sameAs" do
              %i.fa.fa-facebook-square
            = link_to "//ketabawo.asia", title: "人生補完計画 2nd Impact", target: "_blank", itemprop: "url" do
              %i.fa.fa-globe
        .element
          .column.left
            = image_tag "about/img_pic-yuumi-fukunaga.jpg", width: "160", height: "160", alt: "福永 雄海"
            %dl
              %dt
                %i.fa.fa-cog
                役割
              %dd{itemprop: "jobTitle"} 競技委員長
            - if false
              %dl
                %dt
                  %i.fa.fa-heart
                  好きなメーカー<br>
                %dd
                  MARS
                  = link_to "//www.luckycraft.co.jp/", target: "_blank" do
                    LuckyCraft
                  = link_to "//www.jackall.co.jp/", target: "_blank" do
                    JACKALL
                  = link_to "//www.gary-yamamoto.com/", target: "_blank" do
                    GaryYamamoto
          .column.right
            %h2 福永 雄海 <span>Yuumi Fukunaga</span>
            .works JGFA常任理事
            .introduction
              %p
                JGFA常任理事の一人でもあるシーバスキャプテンのフィッシングガイド。シーバスからカジキまでマルチにこなすアングラー。豊富な経験から2019年度より本大会競技委員長を務める。
            = link_to "//www.facebook.com/cap.yuumi", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
            = link_to "//www.jgfa.or.jp/", title: "Japan Game Fish Association", target: "_blank", itemprop: "url" do
              %i.fa.fa-globe
            = link_to "//sites.google.com/site/seabasscaptain/home", title: "シーバスキャプテン", target: "_blank", itemprop: "url" do
              %i.fa.fa-globe


        .element
          .column.left
            = image_tag "about/img_pic-hiroshi-kakizawa.jpg", width: "160", height: "160", alt: "柿澤 寛"
            %dl
              %dt
                %i.fa.fa-cog
                役割
              %dd{itemprop: "jobTitle"} アドバイザー
            %dl
              %dt
                %i.fa.fa-heart
                好きなメーカー<br>
              %dd
                MARS
                = link_to "//www.ecogear.jp/game_fishing/", target: "_blank" do
                  ECOGEAR
          .column.right
            %h2 柿澤 寛 <span>Hiroshi Kakizawa</span>
            .works ストライカー・横浜SUP倶楽部 代表
            .introduction
              %p
                鋭意執筆中。
            = link_to "https://www.facebook.com/hirosi.kakizawa", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
            = link_to "//yokohamasup-club.com/", title: "my website", target: "_blank" do
              %i.fa.fa-globe
            = link_to "//salt-striker.com/", title: "my website", target: "_blank" do
              %i.fa.fa-globe

        .element
          .column.left
            = image_tag "about/img_pic-masakazu-nishihara.jpg", width: "160", height: "160", alt: "西原 政和"
            %dl
              %dt
                %i.fa.fa-cog
                役割
              %dd{itemprop: "jobTitle"} 映像作成/広報
            - if false
              %dl
                %dt
                  %i.fa.fa-heart
                  好きなメーカー<br>
                %dd
                  MARS
                  = link_to "//www.luckycraft.co.jp/", target: "_blank" do
                    LuckyCraft
                  = link_to "//www.jackall.co.jp/", target: "_blank" do
                    JACKALL
                  = link_to "//www.gary-yamamoto.com/", target: "_blank" do
                    GaryYamamoto
          .column.right
            %h2 西原 政和 <span>Masakazu Nishihara</span>
            .works フリービデオグラファー
            .introduction
              %p
                鋭意執筆中。
            = link_to "//www.facebook.com/masakazu.nishihara", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square


        .element
          .column.left
            = image_tag "about/img_pic-takahiro-saito.jpg", width: "160", height: "160", alt: "齋藤 剛宏"
            %dl
              %dt
                %i.fa.fa-cog
                役割
              %dd{itemprop: "jobTitle"} アドバイザー
            %dl
              %dt
                %i.fa.fa-heart
                好きなメーカー<br>
              %dd
                MARS
                = link_to "//www.luckycraft.co.jp/", target: "_blank" do
                  LuckyCraft
                = link_to "//www.jackall.co.jp/", target: "_blank" do
                  JACKALL
                = link_to "//www.gary-yamamoto.com/", target: "_blank" do
                  GaryYamamoto
          .column.right
            %h2 齋藤 剛宏 <span>Takahiro Saito</span>
            .works
              %del D-marina ハーバーマスター
            .introduction
              %p
                ある時はシーバス、ある時はメバリング、ある時はジギング、ある時はカワハギ釣りと、１年通して釣りをしています。<br>どちらかというと、繊細なアタリを取る釣りが好きな方かな。

    #sub_column
      = partial "shared/blog_info"
