---
title: 大会事務局 実行委員の紹介
description: BST ボートシーバストーナメントを運営しているメンバーのご紹介。
---
= partial "shared/global_navigation", :locals => {:val => "about"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li
      = link_to "/about/", itemprop: "url" do
        %span{itemprop: "title"} BST ボートシーバストーナメントについて
      %i.fa.fa-angle-right
    %li 大会事務局 実行委員の紹介
%article#content
  #content_inner
    #main_column.double
      %section#members
        %h1
          %i.fa.fa-users
          実行委員の紹介
        .element
          .column.left
            = image_tag "about/img_pic-takahiro-saito.jpg", width: "160", height: "160", alt: "齋藤 剛宏"
            %dl
              %dt
                %i.fa.fa-heart
                好きなメーカー<br>
              %dd
                MARS
                = link_to "//www.luckycraft.co.jp/", target: "_blank" do
                  LuckyCraft
                = link_to "//www.jackall.co.jp/", target: "_blank" do
                  JACKALL
                = link_to "//www.gary-yamamoto.com/", target: "_blank" do
                  GaryYamamoto
          .column.right
            %h2 齋藤 剛宏 <span>Takahiro Saito</span>
            .works D-marina ハーバーマスター
            .introduction
              %p
                ある時はシーバス、ある時はメバリング、ある時はジギング、ある時はカワハギ釣りと、１年通して釣りをしています。<br>どちらかというと、繊細なアタリを取る釣りが好きな方かな。
            = link_to "https://www.facebook.com/takahiro.saito.794", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
            = link_to "//www.daruma-marine.com/", title: "my website", target: "_blank" do
              %i.fa.fa-globe
        .element
          .column.left
            = image_tag "about/img_pic-hiroshi-kakizawa.jpg", width: "160", height: "160", alt: "柿澤 寛"
            %dl
              %dt
                %i.fa.fa-heart
                好きなメーカー<br>
              %dd
                MARS
                = link_to "//www.ecogear.jp/game_fishing/", target: "_blank" do
                  ECOGEAR
          .column.right
            %h2 柿澤 寛 <span>Hiroshi Kakizawa</span>
            .works ストライカー / 横浜SUP倶楽部 代表
            .introduction
              %p
                鋭意執筆中。
            = link_to "https://www.facebook.com/hirosi.kakizawa", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
            = link_to "//yokohamasup-club.com/", title: "my website", target: "_blank" do
              %i.fa.fa-globe
            = link_to "//salt-striker.com/", title: "my website", target: "_blank" do
              %i.fa.fa-globe
        .element
          .column.left
            = image_tag "about/img_pic-masakazu-hayakawa.jpg", width: "160", height: "160", alt: "早川 昌和"
            %dl
              %dt
                %i.fa.fa-heart
                好きなメーカー<br>
              %dd
                = link_to "DAIWA", "http://daiwa.globeride.co.jp/", target: "_blank"
                = link_to "JACKALL", "//www.jackall.co.jp/", target: "_blank"
          .column.right
            %h2 早川 昌和 <span>Masakazu Hayakawa</span>
            .works ストライカー キャプテン
            .introduction
              %p
                幼少の頃より様々な釣りに親しみ、ルアーフィッシングの道へ。
                %br
                2003年からはボートシーバストーナメントにも参戦。
                %br
                好きなスタイルは穴撃ち。
                %br
                シーバスガイドStrikerキャプテン。
            = link_to "https://www.facebook.com/masa.mazu.1", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
        .element
          .column.left
            = image_tag "about/img_pic-jyunya-mizutani.jpg", width: "160", height: "160", alt: "水谷 純也"
          .column.right
            %h2 水谷 純也 <span>Junya Mizutani</span>
            .works ストライカー キャプテン
            .introduction
              %p
                鋭意執筆中。
            = link_to "https://www.facebook.com/profile.php?id=100009411125971", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
            
        .element
          .column.left
            = image_tag "about/img_pic-shigeki-ando.jpg", width: "160", height: "160", alt: "安東 茂樹"
          .column.right
            %h2 安東 茂樹 <span>Shigeki Ando</span>
            .works D-marina スタッフ
            .introduction
              %p
                ボートのエンジンオーバーホール、船体艤装、ボート操船教室のインストラクターから、各種魚種のガイド船船長まで、マリーナ業務を幅広く受け持つ。<br>青物、根魚など、食べて美味しい魚の釣りを好む。
              %p
                過去に二輪、四輪レース、モンゴルのラリーレイドに出場するなど、根っからのコンペティション好き。<br>趣味はトレッキング。数日間、一人で山の中で過ごす。自然や動植物を神と崇め、心から大切にしたいと願う。
            = link_to "https://www.facebook.com/shigeki.ando.90", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
      %section#other_members
        %h1
          %i.fa.fa-users
          サポートメンバーの紹介
        .element{itemscope: "itemscope", itemtype: "http://schema.org/Person"}
          .column.left
            = image_tag "about/img_pic-taku-obatake.jpg", width: "160", height: "160", alt: "大畠 拓", itemprop: "image"
            %dl
              %dt
                %i.fa.fa-cog
                役割
              %dd{itemprop: "jobTitle"} ウェブマスター
            %dl
              %dt
                %i.fa.fa-heart
                好きなメーカー<br>
              %dd 
                = link_to "//duo-inc.co.jp/toppage.php", target: "_blank" do
                  DUO
                = link_to "//www.megabass.co.jp/site/", target: "_blank" do
                  Megabass
                = link_to "//gcraft.ocnk.net/", target: "_blank" do
                  G-Craft
                = link_to "//www.duel.co.jp/", target: "_blank" do
                  DUEL
                = link_to "//www.gosen-f.jp/", target: "_blank" do
                  GOSEN
                = link_to "//www.pazdesign.co.jp/", target: "_blank" do
                  PazDesign
          .column.right
            %h2{itemprop: "name"} 大畠 拓 <span>Taku Obatake</span>
            .works 某社フロントエンドエンジニア
            .introduction{itemprop: "description"}
              %p
                世間では釣れないと言われている湘南で揉まれ育ったなんちゃってボートシーバスアングラー。<br>
                最近、フライの世界に片足を突っ込んだと専らの噂。<br>
                DUOルアーをこよなく愛しているのは周知の事実（謎）
              %p
                HTML/CSS/JQUERYといったフロント部分を得意とする元SEOエンジニア。ライトなPHPくらいなら何とか・・・。<br>
                Ruby On RailsのVIEW部分(HAML or ERB/SACC or SCSS/COFFEE)やWordpress等のCMS、EC-CUBEなどが守備範囲。
            = link_to "https://www.facebook.com/taku.obatake", title: "Facebook", target: "_blank", itemprop: "sameAs" do
              %i.fa.fa-facebook-square
            = link_to "https://twitter.com/ketabawo", title: "Twitter", target: "_blank" do
              %i.fa.fa-twitter-square
            = link_to "https://plus.google.com/+ketabawo/posts", title: "Google+", target: "_blank" do
              %i.fa.fa-google-plus-square
            = link_to "//ketabawo.asia", title: "人生補完計画 2nd Impact", target: "_blank", itemprop: "url" do
              %i.fa.fa-globe
    #sub_column
      = partial "shared/blog_info"
      = partial "shared/committee_info"
        
