---
title: 大会事務局 実行委員の紹介
description: BST ボートシーバストーナメントを運営しているメンバーのご紹介。
---
= partial "shared/global_navigation", :locals => {:val => "about"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li
      = link_to "/about/", itemprop: "url" do
        %span{itemprop: "title"} BST ボートシーバストーナメントについて
      %i.fa.fa-angle-right
    %li 大会事務局 実行委員の紹介
%article#content
  #content_inner
    #main_column.double
      %section#members
        %h1
          %i.fa.fa-users
          実行委員の紹介
        .element
          .column.left
            = image_tag "about/img_pic-takahiro-saito.jpg", width: "160", height: "160", alt: "齋藤 剛宏"
            %dl
              %dt
                %i.fa.fa-cog
                担当
              %dd BST代表
          .column.right
            %h2 齋藤 剛宏 <span>Takahiro Saito</span>
            %p.works D-marina ハーバーマスター
            %p.introduction
              ある時はシーバス、ある時はメバリング、ある時はジギング、ある時はカワハギ釣りと、１年通して釣りをしています。<br>どちらかというと、繊細なアタリを取る釣りが好きな方かな。
            = link_to "https://www.facebook.com/takahiro.saito.794", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
            = link_to "", title: "Twitter", target: "_blank" do
              %i.fa.fa-twitter-square
            = link_to "", title: "Google+", target: "_blank" do
              %i.fa.fa-google-plus-square
            = link_to "", title: "personal website", target: "_blank" do
              %i.fa.fa-globe
        .element
          .column.left
            = image_tag "about/img_pic-hiroshi-kakizawa.jpg", width: "160", height: "160", alt: "柿澤 寛"
            %dl
              %dt
                %i.fa.fa-cog
                担当
              %dd BST顧問
          .column.right
            %h2 柿澤 寛 <span>Hiroshi Kakizawa</span>
            %p.works 横浜SUP倶楽部 代表
            %p.introduction
              自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介。
            = link_to "https://www.facebook.com/hirosi.kakizawa", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
            = link_to "", title: "Twitter", target: "_blank" do
              %i.fa.fa-twitter-square
            = link_to "", title: "Google+", target: "_blank" do
              %i.fa.fa-google-plus-square
            = link_to "", title: "personal website", target: "_blank" do
              %i.fa.fa-globe
        .element
          .column.left
            = image_tag "about/img_pic-masakazu-hayakawa.jpg", width: "160", height: "160", alt: "早川 昌和"
            %dl
              %dt
                %i.fa.fa-cog
                担当
              %dd BST実行委員長
          .column.right
            %h2 早川 昌和 <span>Masakazu Hayakawa</span>
            %p.works ストライカー キャプテン
            %p.introduction
              自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介。
            = link_to "https://www.facebook.com/masa.mazu.1", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
            = link_to "", title: "Twitter", target: "_blank" do
              %i.fa.fa-twitter-square
            = link_to "", title: "Google+", target: "_blank" do
              %i.fa.fa-google-plus-square
            = link_to "", title: "personal website", target: "_blank" do
              %i.fa.fa-globe
        .element
          .column.left
            = image_tag "about/img_pic-junya-mizutani.jpg", width: "160", height: "160", alt: "水谷 純也"
            %dl
              %dt
                %i.fa.fa-cog
                担当
              %dd BST実行委員
          .column.right
            %h2 水谷 純也 <span>Junya Mizutani</span>
            %p.works ストライカー キャプテン
            %p.introduction
              自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介。
            = link_to "", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
            = link_to "", title: "Twitter", target: "_blank" do
              %i.fa.fa-twitter-square
            = link_to "", title: "Google+", target: "_blank" do
              %i.fa.fa-google-plus-square
            = link_to "", title: "personal website", target: "_blank" do
              %i.fa.fa-globe
        .element
          .column.left
            = image_tag "about/img_pic-shigeki-ando.jpg", width: "160", height: "160", alt: "安東 茂樹"
            %dl
              %dt
                %i.fa.fa-cog
                担当
              %dd BST実行委員
          .column.right
            %h2 安東 茂樹 <span>Shigeki Ando</span>
            %p.works D-marina スタッフ
            %p.introduction
              自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介自己紹介。
            = link_to "https://www.facebook.com/shigeki.ando.90", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
            = link_to "", title: "Twitter", target: "_blank" do
              %i.fa.fa-twitter-square
            = link_to "", title: "Google+", target: "_blank" do
              %i.fa.fa-google-plus-square
            = link_to "", title: "personal website", target: "_blank" do
              %i.fa.fa-globe
      %section#other_members
        %h1
          %i.fa.fa-users
          サポートメンバーの紹介
        .element
          .column.left
            = image_tag "about/img_pic-taku-obatake.jpg", width: "160", height: "160", alt: "大畠 拓"
            %dl
              %dt
                %i.fa.fa-cog
                担当
              %dd ウェブマスター
            %dl
              %dt
                %i.fa.fa-heart
                好きなブランド<br>
              %dd DUO、Megabass、G-Craft、DUEL、GOSEN、Paz Design
          .column.right
            %h2 大畠 拓 <span>Taku Obatake</span>
            %p.works 某社フロントエンドエンジニア
            %p.introduction
              世間では釣れないと言われている湘南で揉まれ育ったなんちゃってボートシーバスアングラー。<br>
              最近、フライの世界に片足を突っ込んだと専らの噂。<br>
              DUOルアーをこよなく愛しているのは周知の事実（謎）
            %p.introduction
              HTML/CSS/JQUERYといったフロント部分を得意とする元SEOエンジニア。ライトなPHPくらいなら何とか・・・。<br>Ruby On RailsのVIEW部分(HAML or ERB/SACC or SCSS/COFFEE)やWordpress等のCMS、EC-CUBEなどが守備範囲。
              
            = link_to "https://www.facebook.com/taku.obatake", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
            = link_to "https://twitter.com/ketabawo", title: "Twitter", target: "_blank" do
              %i.fa.fa-twitter-square
            = link_to "https://plus.google.com/+ketabawo/posts", title: "Google+", target: "_blank" do
              %i.fa.fa-google-plus-square
            = link_to "https://www.youtube.com/user/ketabawo", title: "youtube", target: "_blank" do
              %i.fa.fa-youtube-square
            = link_to "//vk.com/ketabawo", title: "vk.com", target: "_blank" do
              %i.fa.fa-vk
            = link_to "//ketabawo.asia", title: "my website", target: "_blank" do
              %i.fa.fa-globe
            = link_to "https://github.com/ketabawo", title: "github", target: "_blank" do
              %i.fa.fa-github-alt

    #sub_column
      %section#info
        %h1
          %i.fa.fa-home
          大会事務局
        :plain
          <script>
          function initialize() {
            var bst = new google.maps.LatLng(35.4763234, 139.63713280000002)
            var mapOptions = {
              zoom: 16,
              center: bst
            };
            var map = new google.maps.Map(document.getElementById('map-canvas-side'),
                mapOptions);
            var marker = new google.maps.Marker({
                  position: bst,
                  map: map,
                  title:"Hello World!"
            });
          }
          function loadScript() {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
                'callback=initialize';
            document.body.appendChild(script);
          }
          window.onload = loadScript;
          </script>
        #map-canvas-side
        %address
          %i.fa.fa-map-marker
          横浜市神奈川区東神奈川2-49-11<br>
          %i.fa.fa-phone
          045-461-1062<br>
          %i.fa.fa-fax
          045-451-3187
        
