---
title: BST ボートシーバストーナメントについて
description: BST ボートシーバストーナメントの開催趣旨、ビジョンなどをご説明しています。
---
= partial "shared/global_navigation", :locals => {:val => "about"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li BST ボートシーバストーナメントについて
%article#content
  #content_inner
    #main_column.double
      %section#chairman
        %h1
          %i.fa.fa-bullhorn
          BST ボートシーバストーナメントについて
        #chairman_inner
          .element
            %h2
              %i.fa.fa-chevron-right
              開催の動機
            %p
              ブラックバスには
              = link_to "//www.jbnbc.jp/", target: "_blank" do
                %abbr{title: "Japan Bass Pro Association"}
                  JB
              や
              = link_to "//www.wbs1.jp/", target: "_blank" do
                %abbr{title: "World Bass Society"}
                W.B.S.
              などのトーナメント団体が多く存在し、バスフィッシングというスポーツに大きな影響を与えている。
              %br<>
              メーカーは、トーナメントユースをターゲットとした製品を数多く開発し、それらをトーナメンターが使い好成績を残す。
              一般アングラーたちは、動機こそ個々で異なるが、市場に投入されたそれら製品を購入する。
              %br<>
              このような良循環がバスフィッシング業界の繁栄に大きく影響していると私は考えている。
              %p
                東京湾は日本一シーバスの魚影が濃いとされているのは周知の事実で、通年ルアーフィッシングを楽しめる。
                %br<>
                ここには多くのプロガイドが存在し、そして彼らにガイドを依頼するユーザーが多数存在する。
                バスフィッシング業界の規模には劣るが、業界としては十分完成している。
              %p
                シーバスフィッシングで同じような構図を実現できないだろうか？そんな思いでこのトーナメント団体を発足しました。
          .element
            %h2
              %i.fa.fa-chevron-right
              展望・ビジョン
            %p
              ボートシーバスフィッシングにもバスフィッシング同様、キャスティング精度やTPOに合ったメソッド、操船など高度が技術が必要とされます。
              %br
              参戦するプロガイドや契約プロ、そして一般アングラーが切磋琢磨し、
              %abbr{title: "Boat Seabass Tournament"}
                BST
              ボートシーバストーナメントで優勝することが
              東京湾ナンバーワンボートシーバスアングラーであると世に言えるトーナメントに育てていきたいと思っています。
            %p
              きっとそこには間違いなく良循環が発生し、ボートシーバス業界に大きな影響を与えるはずです。
              %br
              しかし、我々だけでは達成する事は不可能ですので、賛同していただける皆様のご協力をお願いいたします。
          .element.writer
            %p
              BST ボートシーバストーナメント 代表 齋藤 剛宏
    #sub_column
      = partial "shared/blog_info"
      = partial "shared/committee_info"
