---
title: メディア掲載事例
description: BST ボートシーバストーナメントに関する事が掲載された新聞や雑誌等のメディア様をご紹介しています。
---
= partial "shared/global_navigation", :locals => {:val => "about"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li
      = link_to "/about/", itemprop: "url" do
        %span{itemprop: "title"} BST ボートシーバストーナメントについて
      %i.fa.fa-angle-right
    %li メディア掲載事例
%article#content
  #content_inner
    #main_column.double
      %section#members
        %h1
          %i.fa.fa-newspaper-o
          メディア掲載事例
        .element
          .column.left
            = image_tag "about/publishedcases/20150203.jpg", width: "160", alt: "週刊つりニュース"
          .column.right
            %h2
              = link_to "//tsurinews.co.jp/", target: "_blank" do
                週刊 つりニュース様
            .works 関東版 2015年2月3日号
            .introduction
              %p
                BST2015 第1戦の様子を掲載して頂きました。
            = link_to "//www.facebook.com/tsurinews", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
            = link_to "//tsurinews.co.jp/kanto3409", title: "週刊つりニュース", target: "_blank" do
              %i.fa.fa-globe
        .element
          .column.left
            = image_tag "about/publishedcases/20141003.jpg", width: "160", alt: "週刊つりニュース"
          .column.right
            %h2
              = link_to "//tsurinews.co.jp/", target: "_blank" do
                週刊 つりニュース様
            .works 関東版 2014年10月3日号
            .introduction
              %p
                BST2014 第5戦の様子を掲載して頂きました。
            = link_to "//www.facebook.com/tsurinews", title: "Facebook", target: "_blank" do
              %i.fa.fa-facebook-square
            = link_to "//tsurinews.co.jp/kanto562", title: "週刊つりニュース", target: "_blank" do
              %i.fa.fa-globe
    #sub_column
      = partial "shared/blog_info"
      = partial "shared/committee_info"
        
