%section#events
  %h1
    %i.fa.fa-calendar
    BST2017 年間競技日程
  .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
    .eye_catch
      .pic2017.round1
    .this_content
      %span.danger 終了
      %h2{itemprop: "name"} BST 2017 第1戦
      %dl
        %dt 開催日:
        %dd{itemprop: "startDate", content: "2017-01-24"} 2017-01-24
        %dt
          %span 集合場所:
        %dd{itemprop: "location", itemscope: "itemscope", itemtype: "http://schema.org/Place"}
          %span{itemprop: "name"} D-marina
          %span{itemprop: "address"} 横浜市神奈川区東神奈川2-49-11
      %p{itemprop: "description"}
        = link_to "/results/2017/round1.html" do
          %i.fa.fa-caret-right
          詳しくはこちら
  .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
    .eye_catch
      .pic2017.round2
    .this_content
      %span.warning 中止
      %h2{itemprop: "name"} BST 2017 第2戦
      %dl
        %dt 開催日:
        %dd{itemprop: "startDate", content: "2017-03-07"} 2017-03-07
        %dt
          %span 集合場所:
        %dd{itemprop: "location", itemscope: "itemscope", itemtype: "http://schema.org/Place"}
          %span{itemprop: "name"} D-marina
          %span{itemprop: "address"} 横浜市神奈川区東神奈川2-49-11
      -#%p{itemprop: "description"}
        = link_to "/results/2016/round2.html" do
          %i.fa.fa-caret-right
          詳しくはこちら
  .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
    .eye_catch
      .pic2017.round3
    .this_content
      %span.danger 終了
      %h2{itemprop: "name"} BST 2017 第3戦
      %dl
        %dt 開催日:
        %dd{itemprop: "startDate", content: "2017-03-21"} 2017-03-21
        %dt
          %span 集合場所:
        %dd{itemprop: "location", itemscope: "itemscope", itemtype: "http://schema.org/Place"}
          %span{itemprop: "name"} D-marina
          %span{itemprop: "address"} 横浜市神奈川区東神奈川2-49-11
      %p{itemprop: "description"}
        = link_to "/results/2017/round3.html" do
          %i.fa.fa-caret-right
          詳しくはこちら
  .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
    .eye_catch
      .pic2017.round4
    .this_content
      %span.danger 終了
      %h2{itemprop: "name"} BST 2017 第4戦
      %dl
        %dt 開催日:
        %dd{itemprop: "startDate", content: "2017-05-23"} 2017-05-23
        %dt
          %span 集合場所:
        %dd{itemprop: "location", itemscope: "itemscope", itemtype: "http://schema.org/Place"}
          %span{itemprop: "name"} D-marina
          %span{itemprop: "address"} 横浜市神奈川区東神奈川2-49-11
      %p{itemprop: "description"}
        = link_to "/results/2017/round4.html" do
          %i.fa.fa-caret-right
          詳しくはこちら
  .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
    .eye_catch
      .pic2017.round5
    .this_content
      %span.danger 終了
      %h2{itemprop: "name"} BST 2017 第5戦
      %dl
        %dt 開催日:
        %dd{itemprop: "startDate", content: "2017-06-06"} 2017-06-06
        %dt
          %span 集合場所:
        %dd{itemprop: "location", itemscope: "itemscope", itemtype: "http://schema.org/Place"}
          %span{itemprop: "name"} D-marina
          %span{itemprop: "address"} 横浜市神奈川区東神奈川2-49-11
      %p{itemprop: "description"}
        = link_to "/results/201７/round5.html" do
          %i.fa.fa-caret-right
          詳しくはこちら
