%section#events
  %h1
    %i.fa.fa-calendar
    BST2017 エクストララウンド開催日程
  .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
    .eye_catch
      .pic2017ex.round1
    .this_content
      %span.danger 終了
      %h2{itemprop: "name"} BST 2017 エクストララウンド01
      %dl
        %dt 開催日:
        %dd{itemprop: "startDate", content: "2017-02-07"} 2017-02-07
        %dt
          %span 集合場所:
        %dd{itemprop: "location", itemscope: "itemscope", itemtype: "http://schema.org/Place"}
          %span{itemprop: "name"} D-marina
          %span{itemprop: "address"} 横浜市神奈川区東神奈川2-49-11
      -#%p{itemprop: "description"}
        = link_to "/results/2017/round1.html" do
          %i.fa.fa-caret-right
          詳しくはこちら
  .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
    .eye_catch
      .pic2017ex.round2
    .this_content
      %span.warning 開催なし
      %h2{itemprop: "name"} BST 2017 エクストララウンド02
      %dl
        %dt 開催予定日:
        %dd{itemprop: "startDate", content: "2017-03-07"} <del>2017-03-07</del>
        %dt
          %span 集合場所:
        %dd{itemprop: "location", itemscope: "itemscope", itemtype: "http://schema.org/Place"}
          %span{itemprop: "name"} D-marina
          %span{itemprop: "address"} 横浜市神奈川区東神奈川2-49-11
      -#%p{itemprop: "description"}
        = link_to "/results/2016/round2.html" do
          %i.fa.fa-caret-right
          詳しくはこちら
  .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
    .eye_catch
      .pic2017ex.round3
    .this_content
      %span.warning 開催なし
      %h2{itemprop: "name"} BST 2017 エクストララウンド03
      %dl
        %dt 開催予定日:
        %dd{itemprop: "startDate", content: "2017-04-04"} 2017-04-04
        %dt
          %span 集合場所:
        %dd{itemprop: "location", itemscope: "itemscope", itemtype: "http://schema.org/Place"}
          %span{itemprop: "name"} D-marina
          %span{itemprop: "address"} 横浜市神奈川区東神奈川2-49-11
      -#%p{itemprop: "description"}
        = link_to "/results/2016/round3.html" do
          %i.fa.fa-caret-right
          詳しくはこちら
  .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
    .eye_catch
      .pic2017ex.round4
    .this_content
      %span.warning 開催なし
      %h2{itemprop: "name"} BST 2017 エクストララウンド04
      %dl
        %dt 開催予定日:
        %dd{itemprop: "startDate", content: "2017-05-23"} 2017-05-23
        %dt
          %span 集合場所:
        %dd{itemprop: "location", itemscope: "itemscope", itemtype: "http://schema.org/Place"}
          %span{itemprop: "name"} D-marina
          %span{itemprop: "address"} 横浜市神奈川区東神奈川2-49-11
      -#%p{itemprop: "description"}
        = link_to "/results/2016/round4.html" do
          %i.fa.fa-caret-right
          詳しくはこちら
  .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
    .eye_catch
      .pic2017ex.round5
    .this_content
      %span.info 募集中
      %h2{itemprop: "name"} BST 2017 エクストララウンド05
      %dl
        %dt 開催予定日:
        %dd{itemprop: "startDate", content: "2017-06-20"} 2017-06-20
        %dt
          %span 集合場所:
        %dd{itemprop: "location", itemscope: "itemscope", itemtype: "http://schema.org/Place"}
          %span{itemprop: "name"} D-marina
          %span{itemprop: "address"} 横浜市神奈川区東神奈川2-49-11
      -#%p{itemprop: "description"}
        = link_to "/results/2016/round5.html" do
          %i.fa.fa-caret-right
          詳しくはこちら
