%footer#footer
  #footer_inner
    #footer_contents
      .content_column
        %dl#pro_guides
          %dt フィッシングガイド
          %dd
            %ul
              %li= link_to "", "//www.boatseabass.jp/", target: "_blank", title: "アイランドクルーズ"
              %li= link_to "", "//homepage3.nifty.com/theseaman/", target: "_blank", title: "ザシーマン"
              %li= link_to "", "//seawolf.jp/", target: "_blank", title: "シーウルフ"
              %li= link_to "", "//www.seakuro.com/", target: "_blank", title: "シークロ"
              %li= link_to "", "//sites.google.com/site/seabasscaptain/home", target: "_blank", title: "シーバスキャプテン"
              %li= link_to "", "//salt-striker.com/", target: "_blank", title: "ストライカー"
              %li= link_to "", "//www.daruma-marine.com/", target: "_blank", title: "D-marina"
              %li= link_to "", "//www.f-real.com/", target: "_blank", title: "リアル"
      .content_column
        %dl#support_makers
          %dt 協力メーカー様
          %dd
            %ul
              %li= link_to "", "//suzukimarine.co.jp/", target: "_blank", title: "スズキマリン様"
              %li= link_to "", "//valleyhill.taniyamashoji.co.jp/", target: "_blank", title: "谷山商事 バレーヒル様"
              %li= link_to "", "//yamatoyo.com/", target: "_blank", title: "山豊テグス様"
        #comittee_info
          %dl
            %dt BST実行委員会事務局(D-marina)
            %dd 横浜市神奈川区東神奈川2-49-11
            %dd TEL : 045-461-1062
            %dd FAX : 045-451-3187
  #copyright
    %address
      Copyright(C) 2013 - #{Time.now.year}
      %abbr{title: "Boat Seabass Tournament"}
        BST
      All Rights Reserved.
