%footer#footer
  #footer_inner
    #footer_contents
      #fb_widget
        .fb-like-box{"data-href" => "https://www.facebook.com/boatseabasstournament", "data-width" => "468", "data-colorscheme" => "light", "data-show-faces" => "true", "data-header" => "false", "data-stream" => "false", "data-show-border" => "false"}
        :plain
          <div class="banner46860">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- BST_FOOTER -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:468px;height:60px"
                 data-ad-client="ca-pub-6412659476989690"
                 data-ad-slot="7803232132"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
      #pro_guides
        %ul
          %li= link_to "アイランドクルーズ", "http://www.boatseabass.jp/", target: "_blank"
          %li= link_to "オーシャンマスター", "http://www.ocean-master.jp/", target: "_blank"
          %li= link_to "シークロ", "http://www.seakuro.com/", target: "_blank"
          %li= link_to "シーバスキャプテン", "https://sites.google.com/site/seabasscaptain/home", target: "_blank"
          %li= link_to "ジョーズ", "http://jaws-guideservice.com/", target: "_blank"
          %li= link_to "ストライカー", "http://salt-striker.com/", target: "_blank"
          %li= link_to "D-marina", "http://www.daruma-marine.com/", target: "_blank"
          %li= link_to "バスメイト", "http://www.bassmate.co.jp/original6.html", target: "_blank"
          %li= link_to "林遊船", "http://www.geocities.jp/hayasiyusen/", target: "_blank"
          %li= link_to "平野ボート", "http://www.yokohama-marina.co.jp/", target: "_blank"
          %li= link_to "リアル", "http://www.f-real.com/", target: "_blank"
        %p
          %i.fa.fa-exclamation
          参加して頂けるフィッシングガイドさん随時募集中
  #copyright
    %address
      Copyright(C) 2013 - #{Time.now.year}
      %abbr{title: "Boat Seabass Tournament"}
        B.S.T
      All Rights Reserved.
