---
title: 2014年 シリーズランキング
---
= partial "shared/global_navigation", :locals => {:val => "rankings"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} B.S.T公式TOP
      %i.fa.fa-angle-right
    %li
      = link_to "/rankings/", itemprop: "url" do
        %span{itemprop: "title"} シリーズランキング
      %i.fa.fa-angle-right
    %li 2014年 シリーズランキング
#imagepanel_low
  #imagepanel_low_inner.rankings_header
    .bg_layer
      %h1 2014年 シリーズランキング
%article#content
  #content_inner
    #main_column.double
      %section#ranking_table
        - if false
          .chairmans_comment
            %dl
              %dt
                %i.fa.fa-comment
                総評
              %dd
                %p.comment
                  現在作成中です。
                %p.writer
                  （実行委員：）
        %table
          %caption 敬称略
          %thead
            %tr
              %th Rank
              %th Name
              %th boat
              %th R 1
              %th R 2
              %th R 3
              %th R 4
              %th R 5
              %th Total
          %tbody
            %tr
              %td
                %i.fa.fa-trophy
              %td 
                %span.ruby オオバタケ タク
                大畠 拓
              %td シークロ
              %td 100
              %td 80
              %td 90
              %td 80
              %td 85
              %td 435
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby カギザワ ヒロシ
                柿澤 寛
              %td ストライカー
              %td 70
              %td 90
              %td 100
              %td 65
              %td 100
              %td 425
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby フクナガ ユウミ
                福永 雄海
              %td シーバスキャプテン
              %td 75
              %td 100
              %td 85
              %td 75
              %td 50
              %td 385
            %tr
              %td 4
              %td
                %span.ruby モリタ ヒデノリ
                森田 英典
              %td リアル
              %td 60
              %td 85
              %td 80
              %td 85
              %td 55
              %td 365
            %tr
              %td 5
              %td
                %span.ruby カズノ タツヤ
                数野 達也
              %td インパクト
              %td 50
              %td 50
              %td 70
              %td 90
              %td 70
              %td 330
            %tr
              %td 5
              %td
                %span.ruby サイトウ タカヒロ
                齋藤 剛宏
              %td D-marina
              %td 65
              %td 70
              %td 45
              %td 70
              %td 80
              %td 330
            %tr
              %td 7
              %td
                %span.ruby タケ
                Take
              %td ストライカー
              %td --
              %td --
              %td 65
              %td 100
              %td 40
              %td 205
            %tr
              %td 8
              %td
                %span.ruby カネコ タクヤ
                兼古 卓弥
              %td インパクト
              %td 80
              %td 60
              %td 55
              %td --
              %td --
              %td 195
            %tr
              %td 9
              %td
                %span.ruby サイトウ ユウキ
                齋藤 雄輝
              %td ストライカー
              %td 55
              %td 65
              %td --
              %td 60
              %td --
              %td 180
            %tr
              %td 10
              %td
                %span.ruby エンドウ マサアキ
                遠藤 正明
              %td アイランドクルーズ
              %td 90
              %td 55
              %td 30
              %td --
              %td --
              %td 175
            %tr
              %td 11
              %td
                %span.ruby ハヤカワ マサカズ
                早川 昌和
              %td ストライカー
              %td --
              %td 75
              %td --
              %td --
              %td 90
              %td 165
            %tr
              %td 12
              %td
                %span.ruby ミズタニ ジュンヤ
                水谷 純也
              %td ストライカー
              %td --
              %td --
              %td 75
              %td --
              %td 65
              %td 140
            %tr
              %td 13
              %td
                %span.ruby イチハザマ トシヒロ
                一迫 敏洋
              %td リアル
              %td --
              %td --
              %td 65
              %td 5
              %td 60
              %td 130
            %tr
              %td 14
              %td
                %span.ruby サワムラ トモユキ
                澤村 智之
              %td 湾遊7
              %td 5
              %td --
              %td 50
              %td --
              %td 75
              %td 120
            %tr
              %td 15
              %td
                %span.ruby ショウジ ヒロシ
                東海林 博
              %td 平野ボート
              %td 45
              %td 5
              %td --
              %td 55
              %td --
              %td 105
            %tr
              %td 16
              %td
                %span.ruby ヒラサワ タカシ
                平澤 貴一
              %td 平野ボート
              %td 40
              %td --
              %td 55
              %td 5
              %td --
              %td 100
            %tr
              %td 17
              %td
                %span.ruby ヤマザキ マサノリ
                山崎 正憲
              %td ストライカー
              %td 85
              %td --
              %td --
              %td --
              %td --
              %td 85
            %tr
              %td 18
              %td
                %span.ruby オクノ タダヒロ
                奥野 忠弘
              %td 林遊船
              %td --
              %td --
              %td --
              %td --
              %td 45
              %td 45
            %tr
              %td 19
              %td
                %span.ruby オオタ ヒデヒコ
                太田 英彦
              %td シークロ
              %td 35
              %td --
              %td --
              %td --
              %td --
              %td 35
            %tr
              %td 20
              %td
                %span.ruby ヤスイ ユウジ
                安井 雄二
              %td K.S.P.JACK
              %td --
              %td --
              %td 35
              %td --
              %td --
              %td 35
            %tr
              %td 21
              %td
                %span.ruby タカマツ ダイ
                高松 大
              %td D-marina
              %td --
              %td --
              %td --
              %td --
              %td 5
              %td 5
          %tfoot
            %tr
              %th Rank
              %th Name
              %th boat
              %th R 1
              %th R 2
              %th R 3
              %th R 4
              %th R 5
              %th Total
    #sub_column
      %aside#ads
        = partial "shared/adsense_side"
      %section#ranking_summary
        %h1
          %i.fa.fa-file-text-o
          シリーズサマリー
        %table
          %tr
            %th ラウンド数
            %td 5戦
          %tr
            %th 参加数（のべ）
            %td 63人(Ave:12.6)
          %tr
            %th ウェイイン総数
            %td 161本
          %tr
            %th リミットメイク率
            %td 74.6％
          %tr
            %th 最長ウェイイン
            %td 205.5cm
          %tr
            %th 最大叉長
            %td 76.5cm(TR)
          %tr
            %th 最小叉長
            %td 42.0cm
          %tr
            %th 平均叉長
            %td 57.3cm
      %section#ranking_list
        %ul
          %li.s2015.on_sub
            = link_to "/rankings/2015.html" do
              %span
                2015年
          %li.s2013.on_sub
            = link_to "/rankings/2013.html" do
              %span
                2013年
