---
title: 2015年 シリーズランキング
---
= partial "shared/global_navigation", :locals => {:val => "rankings"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} B.S.T公式TOP
      %i.fa.fa-angle-right
    %li
      = link_to "/rankings/", itemprop: "url" do
        %span{itemprop: "title"} シリーズランキング
      %i.fa.fa-angle-right
    %li 2015年 シリーズランキング
#imagepanel_low
  #imagepanel_low_inner.rankings_header
    .bg_layer
      %h1 2015年 シリーズランキング
%article#content
  #content_inner
    #main_column.double
      %section#ranking_table
        .chairmans_comment
          %dl
            %dt
              %i.fa.fa-comment
              総評
            %dd
              %p.comment
                まだ開催されておりません。
              %p.writer
                （実行委員：）
        %table
          %caption 敬称略
          %thead
            %tr
              %th Rank
              %th Name
              %th boat
              %th R 1
              %th R 2
              %th R 3
              %th R 4
              %th Total
          %tbody
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby
                  フリガナ
                名前
              %td 
              %td 
              %td 
              %td 
              %td 
              %td 
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby
                  フリガナ
                名前
              %td 
              %td 
              %td 
              %td 
              %td 
              %td 
            %tr
              %td
                %i.fa.fa-trophy
              %td
                %span.ruby
                  フリガナ
                名前
              %td 
              %td 
              %td 
              %td 
              %td 
              %td 
          %tfoot
            %tr
              %th Rank
              %th Name
              %th boat
              %th R 1
              %th R 2
              %th R 3
              %th R 4
              %th Total
    #sub_column
      %aside#ads
        = partial "shared/adsense_side"
      %section#ranking_summary
        %h1
          %i.fa.fa-file-text-o
          シリーズサマリー
        %table
          %tr
            %th ラウンド数
            %td 0戦/5戦
          %tr
            %th 参加数（のべ）
            %td 0人
          %tr
            %th ウェイイン総数
            %td 0本
          %tr
            %th リミットメイク率
            %td 0％
          %tr
            %th 最長ウェイイン
            %td 0cm
          %tr
            %th 最大叉長
            %td 0cm
          %tr
            %th 最小叉長
            %td 0cm
          %tr
            %th 平均叉長
            %td 40cm
      %section#ranking_list
        %ul
          %li.s2014.on_sub
            = link_to "/rankings/2014.html" do
              %span
                2014年
          %li.s2013.on_sub
            = link_to "/rankings/2013.html" do
              %span
                2013年
