---
title: 2016年 シリーズランキング
---
= partial "shared/global_navigation", :locals => {:val => "rankings"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li
      = link_to "/rankings/", itemprop: "url" do
        %span{itemprop: "title"} シリーズランキング
      %i.fa.fa-angle-right
    %li 2016年 シリーズランキング
#imagepanel_low
  #imagepanel_low_inner.rankings_header
    .bg_layer
      %h1 2016年 シリーズランキング
%article#content
  #content_inner
    #main_column.double
      %section#ranking_table
        .chairmans_comment
          %dl
            %dt
              %i.fa.fa-comment
              総評
            %dd
              %p.comment
                1ボート1選手制での開催となった1年目。<br>
                例を見ないオフショア大会の歴史の1ページを作りました。<br>
                とにかく安全を第一に考えはじまった今年の大会、ボーターとしてもレベルの高い選手が集まっただけに事故も無く、安全かつ健全に1年目は幕を閉じたことを喜ばしく思います。
              %p.comment
                ボートシーバストーナメント4年目を向かえ、徐々に選手達の本気度合いが増してきたように思えます。<br>
                毎戦のプラクティスの日数が増えてきている様にみえます。
              %p.comment
                そして、今年から5匹のリミットフィッシュ制を導入。<br>
                このようなルール変更にも動じない選手ばかり。<br>
                厳しい状況下でも、4割くらいのリミットメイク率。<br>
                得意な釣りが成立し、勝利したかと思うと思ったように釣れなく、苦戦する時も。<br>
                そんな中、コンスタントに釣り続け、全戦にてリミットメイクをした池上日明選手がシリーズチャンピオンを獲得しました。
              %p.writer
                （実行委員 斎藤）
        :plain
          <table>
            <caption>敬称略（同率の場合は最高順位→最大サイズ）</caption>
            <thead>
              <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>boat</th>
                <th>R 1</th>
                <th>R 2</th>
                <th>R 3</th>
                <th>R 4</th>
                <th>R 5</th>
                <th>R 6</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <span class="ruby">イケガミ アキラ</span>
                  池上 日明
                </td>
                <td>D-marina</td>
                <td>100</td>
                <td>80</td>
                <td>80</td>
                <td>90</td>
                <td><strike>75</strike></td>
                <td>90</td>
                <td>440</td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <span class="ruby">モリタ ヒデノリ</span>
                  森田 英典
                </td>
                <td>Real</td>
                <td>65</td>
                <td>100</td>
                <td>75</td>
                <td>75</td>
                <td><strike>35</strike></td>
                <td>100</td>
                <td>415</td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  <span class="ruby">エンドウ マサアキ</span>
                  遠藤 正明
                </td>
                <td>アイランドクルーズ</td>
                <td>60</td>
                <td>90</td>
                <td>100</td>
                <td>100</td>
                <td><strike>55</strike></td>
                <td>60</td>
                <td>410</td>
              </tr>
              <tr>
                <td>4</td>
                <td>
                  <span class="ruby">ハヤカワ マサカズ</span>
                  早川 昌和
                </td>
                <td>Striker</td>
                <td>90</td>
                <td>65</td>
                <td>85</td>
                <td><strike>欠場</strike></td>
                <td>80</td>
                <td>75</td>
                <td>395</td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <span class="ruby">ウチダ シンゴ</span>
                  内田 信吾
                </td>
                <td>SEAWOLF</td>
                <td>85</td>
                <td>85</td>
                <td>55</td>
                <td>85</td>
                <td><strike>30</strike></td>
                <td>50</td>
                <td>360</td>
              </tr>
              <tr>
                <td>6</td>
                <td>
                  <span class="ruby">イケダ ヒロユキ</span>
                  池田 裕之
                </td>
                <td>Valley hill</td>
                <td>80</td>
                <td>70</td>
                <td>65</td>
                <td>40</td>
                <td>90</td>
                <td><strike>欠場</strike></td>
                <td>345</td>
              </tr>
              <tr>
                <td>7</td>
                <td>
                  <span class="ruby">オカモト ケイイチロウ</span>
                  岡本 慶一郎
                </td>
                <td>シークロ</td>
                <td>75</td>
                <td><strike>45</strike></td>
                <td>60</td>
                <td>55</td>
                <td>60</td>
                <td>85</td>
                <td>335</td>
              </tr>
              <tr>
                <td>8</td>
                <td>
                  <span class="ruby">オオバタケ タク</span>
                  大畠 拓
                </td>
                <td>Sea Style</td>
                <td><strike>45</strike></td>
                <td>75</td>
                <td>90</td>
                <td>50</td>
                <td>70</td>
                <td>45</td>
                <td>330</td>
              </tr>
              <tr>
                <td>9</td>
                <td>
                  <span class="ruby">フクナガ ユウミ</span>
                  福永 雄海
                </td>
                <td>Seabass Captain</td>
                <td><strike>30</strike></td>
                <td>35</td>
                <td>70</td>
                <td>70</td>
                <td>100</td>
                <td>40</td>
                <td>315</td>
              </tr>
              <tr>
                <td>10</td>
                <td>
                  <span class="ruby">カズノ タツヤ</span>
                  数野 達也
                </td>
                <td>エバーグリーン</td>
                <td>50</td>
                <td><strike>25</strike></td>
                <td>40</td>
                <td>80</td>
                <td>85</td>
                <td>55</td>
                <td>310</td>
              </tr>
              <tr>
                <td>11</td>
                <td>
                  <span class="ruby">サイトウ タカヒロ</span>
                  斎藤 剛宏
                </td>
                <td>D-marina</td>
                <td>70</td>
                <td>55</td>
                <td>30</td>
                <td><strike>欠場</strike></td>
                <td>65</td>
                <td>70</td>
                <td>290</td>
              </tr>
              <tr>
                <td>12</td>
                <td>
                  <span class="ruby">オビ エツシ</span>
                  小尾 えつし
                </td>
                <td>E&amp;A</td>
                <td>40</td>
                <td>60</td>
                <td>25</td>
                <td>45</td>
                <td><strike>0</strike></td>
                <td>65</td>
                <td>235</td>
              </tr>
              <tr>
                <td>13</td>
                <td>
                  <span class="ruby">フジタ マサアキ</span>
                  藤田 正明
                </td>
                <td>TEAM 8</td>
                <td>35</td>
                <td>40</td>
                <td><strike>欠場</strike></td>
                <td>65</td>
                <td>45</td>
                <td>欠場</td>
                <td>185</td>
              </tr>
              <tr>
                <td>14</td>
                <td>
                  <span class="ruby">スギヤマ タカヒロ</span>
                  杉山 貴洋
                </td>
                <td>BLUE DOG</td>
                <td><strike>欠場</strike></td>
                <td>50</td>
                <td>35</td>
                <td>35</td>
                <td>50</td>
                <td>欠場</td>
                <td>170</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>boat</th>
                <th>R 1</th>
                <th>R 2</th>
                <th>R 3</th>
                <th>R 4</th>
                <th>R 5</th>
                <th>R 6</th>
                <th>Total</th>
              </tr>
            </tfoot>
          </table>
    #sub_column
      %section#ranking_summary
        %h1
          %i.fa.fa-file-text-o
          シリーズサマリー
        %table
          %tr
            %th ラウンド数
            %td 6戦/6戦
          %tr
            %th 参加数（のべ）
            %td 85人
          %tr
            %th ウェイイン総数
            %td 273本
          %tr
            %th リミットメイク率
            %td 44.71％
          %tr
            %th 最長ウェイイン
            %td 299.5cm(TR)
          %tr
            %th 最大叉長
            %td 74.5cm
          %tr
            %th 最小叉長
            %td 40.0cm
          %tr
            %th 平均叉長
            %td 51.3cm
      %section#ranking_list
        %ul
          %li.s2015.on_sub
            = link_to "/rankings/2015.html" do
              %span
                2015年
          %li.s2014.on_sub
            = link_to "/rankings/2014.html" do
              %span
                2014年
          %li.s2013.on_sub
            = link_to "/rankings/2013.html" do
              %span
                2013年
