---
title: 2016年 シリーズランキング
---
= partial "shared/global_navigation", :locals => {:val => "rankings"}
#topicpath
  %ol{itemscope: "itemscope", itemtype: "http://data-vocabulary.org/Breadcrumb"}
    %li
      = link_to "/", itemprop: "url" do
        %span{itemprop: "title"} BST公式TOP
      %i.fa.fa-angle-right
    %li
      = link_to "/rankings/", itemprop: "url" do
        %span{itemprop: "title"} シリーズランキング
      %i.fa.fa-angle-right
    %li 2016年 シリーズランキング
#imagepanel_low
  #imagepanel_low_inner.rankings_header
    .bg_layer
      %h1 2016年 シリーズランキング
%article#content
  #content_inner
    #main_column.double
      %section#ranking_table
        .chairmans_comment
          %dl
            %dt
              %i.fa.fa-comment
              総評
            %dd
              %p.comment
              %p.writer
                （謎のサイト管理人）
        %table
          %caption 敬称略（同率の場合は最高順位→最大サイズ）
          %thead
            %tr
              %th Rank
              %th Name
              %th boat
              %th R 1
              %th R 2
              %th R 3
              %th R 4
              %th R 5
              %th R 6
              %th Total
          %tbody
            - data.ranking2016.result.each do |f|
              %tr
                %td= f.rank
                %td
                  %span.ruby= f.furigana
                  = f.name
                %td= f.boat
                %td= f.points[0]
                %td= f.points[1]
                %td= f.points[2]
                %td= f.points[3]
                %td= f.points[4]
                %td= f.points[5]
                %td= f.points[0] + f.points[1] + f.points[2] + f.points[3] + f.points[4] + f.points[5]
          %tfoot
            %tr
              %th Rank
              %th Name
              %th boat
              %th R 1
              %th R 2
              %th R 3
              %th R 4
              %th R 5
              %th R 6
              %th Total
    #sub_column
      %section#ranking_summary
        %h1
          %i.fa.fa-file-text-o
          シリーズサマリー
        %table
          %tr
            %th ラウンド数
            %td 5戦/6戦
          %tr
            %th 参加数（のべ）
            %td 72人
          %tr
            %th ウェイイン総数
            %td 237本
          %tr
            %th リミットメイク率
            %td 47.22％
          %tr
            %th 最長ウェイイン
            %td 299.5cm(TR)
          %tr
            %th 最大叉長
            %td 74.5cm
          %tr
            %th 最小叉長
            %td 40.0cm
          %tr
            %th 平均叉長
            %td 51.3cm
      %section#ranking_list
        %ul
          %li.s2015.on_sub
            = link_to "/rankings/2015.html" do
              %span
                2015年
          %li.s2014.on_sub
            = link_to "/rankings/2014.html" do
              %span
                2014年
          %li.s2013.on_sub
            = link_to "/rankings/2013.html" do
              %span
                2013年
