---
description: 横浜ベイエリアを拠点とし東京湾唯一無二のライブフィッシュ制ボートシーバスゲームルアートーナメント「BST」公式サイト。プロ・アマが年間5ラウンドを本気で戦う本格トーナメントです。参戦して頂けるアングラー・フィッシングガイド、協賛を随時募集しています。
---
= partial "shared/global_navigation", locals: {val: "top"}
#imagepanel_top
  #imagepanel_top_inner
    .slider.slider0
      %p
        東京湾
        %span
          No.1
        ボートシーバストーナメンターを決める
    .slider.slider1
      %p
        プロとアマによる
        %span
          ガチ
        バトル！
    .slider.slider2
      %p
        エントリー随時
        %span
          受付中
        ！！
%article#content
  #content_inner
    #main_column.double
      %section#informations
        %h1
          %i.fa.fa-info-circle
          BST事務局からのお知らせ
        %ul
          %li
            %i.fa.fa-caret-right
            エントリー済みの方を
            = link_to "こちら", "/results/2015/round1.html"
            に表示しました。（現在20名）
            %span
              (2015/01/20）
          %li
            %i.fa.fa-caret-right
            2015各戦上位3名は、コメント・タックルデータ・使用ルアーの情報共有をお願い致します。
        .message
          %p
            %i.fa.fa-exclamation-triangle
            表示がおかしい時は「CTRL+SHIFT+Rキー(win IE以外)」or「command+shift+Rキー（mac）」を押してブラウザのキャッシュをクリアしてください。
      %section#events
        %h1
          %i.fa.fa-calendar
          BST 年間競技日程
        %p.section_summary
          %abbr{title: "Boat Seabass Tournament"}
            BST
          では、プロ・アマ、男女問わず、参戦していただけるアングラーを随時募集しております。
          %br
          全てに参戦する必要はありませんので、我こそは！という方の挑戦をお待ちしております。
        .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
          .eye_catch
            .pic2015.round1
          .this_content
            %span.warning 間もなく締切
            %span.info フライOK
            %span.primary 協賛募集中
            %h2{itemprop: "name"} BST 2015 第1戦
            %dl
              %dt 開催日:
              %dd{itemprop: "startDate", content: "2015-01-27"} 2015/1/27
              %dt 受付〆:
              %dd 2015/1/25
            %p{itemprop: "description"}
              %strong 〆前でも参加艇上限に達した時点で受付終了いたします。
              %br
              = link_to "/entry/" do
                %i.fa.fa-caret-right
                エントリー
        .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
          .eye_catch
            .pic2015.round2
          .this_content
            %span.success 絶賛募集中
            %span.info フライOK
            %span.primary 協賛募集中
            %h2{itemprop: "name"} BST 2015 第2戦
            %dl
              %dt 開催日:
              %dd{itemprop: "startDate", content: "2015-03-10"} 2015/3/10
            %p{itemprop: "description"}
              ご不明な点などございましたら、大会事務局までお問い合せください。
              %br
              = link_to "/entry/" do
                %i.fa.fa-caret-right
                エントリー
        .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
          .eye_catch
            .pic2015.round3
          .this_content
            %span.success 絶賛募集中
            %span.info フライOK
            %span.primary 協賛募集中
            %h2{itemprop: "name"} BST 2015 第3戦
            %dl
              %dt 開催日:
              %dd{itemprop: "startDate", content: "2015-05-12"} 2015/5/12
            %p{itemprop: "description"}
              ご不明な点などございましたら、大会事務局までお問い合せください。
              %br
              = link_to "/entry/" do
                %i.fa.fa-caret-right
                エントリー
        .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
          .eye_catch
            .pic2015.round4
          .this_content
            %span.success 絶賛募集中
            %span.info フライOK
            %span.primary 協賛募集中
            %h2{itemprop: "name"} BST 2015 第4戦
            %dl
              %dt 開催日:
              %dd{itemprop: "startDate", content: "2015-06-09"} 2015/6/9
            %p{itemprop: "description"}
              ご不明な点などございましたら、大会事務局までお問い合せください。
              %br
              = link_to "/entry/" do
                %i.fa.fa-caret-right
                エントリー
        .element{itemscope: "itemscope", itemtype: "http://schema.org/Event"}
          .eye_catch
            .pic2015.round5
          .this_content
            %span.success 絶賛募集中
            %span.info フライOK
            %span.primary 協賛募集中
            %h2{itemprop: "name"} BST 2015 第5戦
            %dl
              %dt 開催日:
              %dd{itemprop: "startDate", content: "2015-07-14"} 2015/7/14
            %p{itemprop: "description"}
              ご不明な点などございましたら、大会事務局までお問い合せください。
              %br
              = link_to "/entry/" do
                %i.fa.fa-caret-right
                エントリー
      %section#timetable
        %h1
          %i.fa.fa-clock-o
          タイムテーブル
        %p.section_summary
          各日程は基本的に以下のスケジュールで進行しますが
          %br
          気象状況等で変更となる場合は事前に告知・連絡致します。
        %table
          %thead
            %tr
              %th 時間軸
              %th イベント
          %tbody
            %tr
              %td 〜08:15
              %td
                受付：参加費用5000円を納入してください。
                %br
                出船順抽選：くじ引きにより出船順を決めます。
                %br
                ライブウェルチェック：事務局スタッフが参加艇のライブウェル（生け簀）をチェックします。
            %tr
              %td 08:20〜
              %td
                ミーティング：ルールや当日の流れ、注意点などを説明します。
            %tr
              %td 08:40〜
              %td
                スタート：くじ引きで決定した順に出船します。デッドスローエリア離脱後、競技を開始してください。
                = image_tag "regulations/img_pic-deadslowarea.gif", alt: "デッドスローエリア", width: "300", height: "224"
            %tr
              %td 〜12:50
              %td
                ストップフィッシング：競技を終了し帰着時間までに帰港してください。
            %tr
              %td 13:30〜
              %td 検量：帰着順に検量を開始します。
            %tr
              %td 14:00〜
              %td 表彰式：昼食後、表彰式を行います。
    #sub_column
      %section#top_ranking
        %h1
          %i.fa.fa-list-ol
          ランキング
        %h2
          %i.fa.fa-chevron-right
          2015シリーズ（第0戦終了）
        %table
          %caption
            = link_to "/entry/" do
              %i.fa.fa-caret-right
              参加者募集中
          %thead
            %tr
              %th Rank
              %th Name
              %th Boat
              %th Pts
          %tbody
            %tr
              %td
                1
              %td --
              %td --
              %td 0
            %tr
              %td
                2
              %td --
              %td --
              %td 0
            %tr
              %td
                3
              %td --
              %td --
              %td 0
        %h2
          %i.fa.fa-chevron-right
          2014シリーズ（全5戦）
        %table
          %caption
            = link_to "/rankings/2014.html" do
              %i.fa.fa-caret-right
              詳しくはこちら
          %thead
            %tr
              %th Rank
              %th Name
              %th Boat
              %th Pts
          %tbody
            %tr
              %td
                %i.fa.fa-trophy
              %td 大畠 拓
              %td シークロ
              %td 435
            %tr
              %td
                %i.fa.fa-trophy
              %td 柿澤 寛
              %td ストライカー
              %td 425
            %tr
              %td
                %i.fa.fa-trophy
              %td 福永 雄海
              %td シーバスキャプテン
              %td 385
        %h2
          %i.fa.fa-chevron-right
          2013シリーズ（全4戦）
        %table
          %caption
            = link_to "/rankings/2013.html" do
              %i.fa.fa-caret-right
              詳しくはこちら
          %thead
            %tr
              %th Rank
              %th Name
              %th Boat
              %th Pts
          %tbody
            %tr
              %td
                %i.fa.fa-trophy
              %td 柿澤 寛
              %td ストライカー
              %td 360
            %tr
              %td
                %i.fa.fa-trophy
              %td 森田 英典
              %td リアル
              %td 355
            %tr
              %td
                %i.fa.fa-trophy
              %td 福永 雄海
              %td シーバスキャプテン
              %td 350
      %section#blog_info
        %h1
          %i.fa.fa-info
          BST公式ブログからのお知らせ
        %ul#feed
          :plain
            <?php
            $i = 0;
              $limit = 3;
              $rss_path = 'http://bst.naturum.ne.jp/index.xml';
              $xml = simplexml_load_file ($rss_path);
              foreach($xml->channel->item as $entry){
                if($i >= $limit){
                  break;
                }else{
                  $title = $entry->title;
                  $date = date('Y/m/d', strtotime($entry->pubDate));
                  $link = $entry->link;
                  echo "<li><a href='$link' target='_blank'><i class='fa fa-chevron-right'></i>
             $title<span> ($date)</span></a></li>";
                  $i++;
                }
              }
            ?>
          - if false
            - require 'rss'
            - feedUrl = 'http://bst.naturum.ne.jp/index.xml'
            - rss = RSS::Parser.parse(feedUrl)
            - count = 1
            - rss.items.each do |item|
              %li
                %i.fa.fa-caret-right
                = link_to item.link, target: "_blank" do
                  = item.title
                %span
                  = item.pubDate.strftime("(%Y/%m/%d)")
              - count += 1
              - if count > 3 then
                - break
        %p.more
          =link_to "//bst.naturum.ne.jp/", target: "_blank" do
            %i.fa.fa-hand-o-right
            もっと見る
      %section#other_tournament
        %h1
          %i.fa.fa-check
          その他トーナメント情報
        %p.section_summary
          BST以外の横浜周辺で開催されるボートシーバストーナメント情報です。
        .element
          %h2 第4回 G.O.M. ワーム限定ボートシーバストーナメント
          %span.warning ワーム限定
          %span.info チーム戦
          %dl
            %dt 開催日:
            %dd 2015/2/22
          %dl
            %dt 問い合せ先：
            %dd= link_to "ハマの海を想う会", "//sites.google.com/site/hamaumi/", target: "_blank"
        .element
          %h2 第31回 東京ベイ・シーバスゲーム・フェスティバル
          %span.warning JGFA会員限定
          %span.info チーム戦
          %dl
            %dt 開催日:
            %dd 2015/10予定
          %dl
            %dt 問い合せ先：
            %dd= link_to "JGFA", "//www.jgfa.or.jp/", target: "_blank"
        .element
          %h2 第9回 横浜ボートフィッシング大会シーバストーナメント
          %span.warning JGFA会員限定
          %span.info チーム戦
          %dl
            %dt 開催日:
            %dd 2015/11/3
          %dl
            %dt 問い合せ先：
            %dd アイランドクルーズ 遠藤
        .element
          %h2 第9回 ハマ海杯
          %span.info フライOK
          %span.info ショアOK
          %dl
            %dt 開催日:
            %dd 2015/11予定
          %dl
            %dt 問い合せ先：
            %dd= link_to "ハマの海を想う会", "//sites.google.com/site/hamaumi/", target: "_blank"
        .element
          %h2 第18回 湾！GUN！シーバストーナメント
          %span.warning JGFA会員限定
          %span.warning ルアー制限有
          %span.info チーム戦
          %dl
            %dt 開催日:
            %dd 2015/12予定
          %dl
            %dt 問い合せ先：
            %dd シーバスキャプテン 福永
