---
description: 東京湾横浜ベイエリアを拠点としたライブフィッシュ制ボートシーバスゲームルアートーナメント「BST」公式サイト。プロ・アマが年間5ラウンドを個人で戦う本格トーナメントです。参戦して頂けるアングラー・フィッシングガイド、協賛や後援していただけるメーカー様を随時募集しています。
---
= partial "shared/global_navigation", locals: {val: "top"}
#imagepanel_top
  #imagepanel_top_inner
    .slider.slider0
      %p
        BST2017シリーズ全戦終了しました！
      = partial "shared/sponsors"
    .slider.slider1
      %p
        ご協賛企業様、ありがとうございました！！
      = partial "shared/sponsors"
%article#content
  #content_inner
    #main_column.double
      %section#informations
        %h1
          %i.fa.fa-info-circle
          サイト管理者からのお知らせ
        .message
          %p
            諸事情により、来季からDマリーナを主会場とする BST開催が不可能となりました。<br>
            今後、他の会場での開催も検討し、BST存続の道を模索したいとおもっておりますが、現時点ではその見通しがたたないため、2018シリーズはひとまず休止とさせていただきます。<br>
            再開を目指し、これまでとは違った形でのトーナメント開催も検討しております。<br>
            参加選手の皆様には大変ご迷惑おかけしますが何卒ご理解ください。
          %p
            今後の交渉等で動きがあった場合はその都度ご報告いたします。<br>
            皆様には、これまで以上のご協力を宜しくお願いします。
      = partial "shared/events2017"
      = partial "shared/events2017ex"
      %section#timetable
        %h1
          %i.fa.fa-clock-o
          タイムテーブル
        %p.section_summary
          各日程は基本的に以下のスケジュールで進行しますが
          %br
          気象状況等で変更となる場合は事前に告知・連絡致します。
        %table
          %thead
            %tr
              %th 時間軸
              %th イベント
          %tbody
            %tr
              %td 08:10
              %td
                %h4 集合
                参加者は時間までに会場入りしてください。
            %tr
              %td 〜08:20
              %td
                %h4 ライブウェルチェック
                会場に到着したことが確認できた選手のライブウェル（生け簀）を
                スタッフが順次チェックします。
            %tr
              %td 08:20〜
              %td
                %h4 キャプテンミーティング
                ルールについての説明や当日の流れなどを説明、フライト順のくじ引き実施。<br>
                スタート地点へ各自移動。
            %tr
              %td 08:30〜
              %td
                %h4 スタートフィッシング
                くじ引きで決定した順番にスタートする。
            %tr
              %td 〜12:50
              %td
                %h4 ストップフィッシング
                時間以降の釣行は失格となります。
                <a href="/regulations/#return">帰着の定義</a>を理解したうえで帰着してください。
            %tr
              %td 13:30〜
              %td
                %h4 検量
                帰着順に検量を開始します。
            %tr
              %td 14:00〜
              %td
                %h4 表彰式
                昼食後、表彰式を行います。
    #sub_column
      %section#top_ranking
        %h1
          %i.fa.fa-list-ol
          ランキング
        %h2
          %i.fa.fa-chevron-right 2017シリーズ（全4戦）
        %table
          %caption
            = link_to "/rankings/2017.html" do
              %i.fa.fa-caret-right 詳しくはこちら
          %thead
            %tr
              %th Rank
              %th Name
              %th Boat
              %th Pts
          %tbody
            %tr
              %td
                %i.fa.fa-trophy
              %td 内田 信吾
              %td SEAWOLF
              %td 69
            %tr
              %td
                %i.fa.fa-trophy
              %td 早川 昌和
              %td Striker
              %td 55
            %tr
              %td
                %i.fa.fa-trophy
              %td 遠藤 正明
              %td アイランドクルーズ
              %td 53
        %h2
          %i.fa.fa-chevron-right 2016シリーズ（全6戦）
        %table
          %caption
            = link_to "/rankings/2016.html" do
              %i.fa.fa-caret-right 詳しくはこちら
          %thead
            %tr
              %th Rank
              %th Name
              %th Boat
              %th Pts
          %tbody
            %tr
              %td
                %i.fa.fa-trophy
              %td 池上 日明
              %td D-marina
              %td 440
            %tr
              %td
                %i.fa.fa-trophy
              %td 森田 英典
              %td Real
              %td 415
            %tr
              %td
                %i.fa.fa-trophy
              %td 遠藤 正明
              %td アイランドクルーズ
              %td 410
        %h2
          %i.fa.fa-chevron-right 2015シリーズ（全3戦）
        %table
          %caption
            = link_to "/rankings/2015.html" do
              %i.fa.fa-caret-right 詳しくはこちら
          %thead
            %tr
              %th Rank
              %th Name
              %th Boat
              %th Pts
          %tbody
            %tr
              %td
                %i.fa.fa-trophy
              %td 森田 英典
              %td リアル
              %td 250
            %tr
              %td
                %i.fa.fa-trophy
              %td 遠藤 正明
              %td アイランドクルーズ
              %td 240
            %tr
              %td
                %i.fa.fa-trophy
              %td 池上 日明
              %td D-marina
              %td 210
        %h2
          %i.fa.fa-chevron-right 2014シリーズ（全5戦）
        %table
          %caption
            = link_to "/rankings/2014.html" do
              %i.fa.fa-caret-right 詳しくはこちら
          %thead
            %tr
              %th Rank
              %th Name
              %th Boat
              %th Pts
          %tbody
            %tr
              %td
                %i.fa.fa-trophy
              %td 大畠 拓
              %td シークロ
              %td 435
            %tr
              %td
                %i.fa.fa-trophy
              %td 柿澤 寛
              %td ストライカー
              %td 425
            %tr
              %td
                %i.fa.fa-trophy
              %td 福永 雄海
              %td シーバスキャプテン
              %td 385
        %h2
          %i.fa.fa-chevron-right 2013シリーズ（全4戦）
        %table
          %caption
            = link_to "/rankings/2013.html" do
              %i.fa.fa-caret-right 詳しくはこちら
          %thead
            %tr
              %th Rank
              %th Name
              %th Boat
              %th Pts
          %tbody
            %tr
              %td
                %i.fa.fa-trophy
              %td 柿澤 寛
              %td ストライカー
              %td 360
            %tr
              %td
                %i.fa.fa-trophy
              %td 森田 英典
              %td リアル
              %td 355
            %tr
              %td
                %i.fa.fa-trophy
              %td 福永 雄海
              %td シーバスキャプテン
              %td 350
      = partial "shared/blog_info"
      %section#other_tournament
        %h1
          %i.fa.fa-check
          その他トーナメント情報
        %p.section_summary BST以外の横浜周辺で開催されるボートシーバストーナメント情報です。
        .element
          %h2 第5回 G.O.M. ワーム限定ボートシーバストーナメント
          %span.danger 終了
          %dl
            %dt 開催日:
            %dd 2017-02-18
          %dl
            %dt 問い合せ先：
            %dd= link_to "ハマの海を想う会", "//sites.google.com/site/hamaumi/g-o-m", target: "_blank"
        .element
          %h2 第21回 サバロカップ
          %span.danger 終了
          %dl
            %dt 開催日:
            %dd 2017-04-16
          %dl
            %dt 問い合せ先：
            %dd= link_to "JGFA", "//www.jgfa.or.jp/", target: "_blank"
        - if false
          .element
            %h2 第9回 東京ベイカップ
            -#%span.danger 終了
            %dl
              %dt 開催日:
              %dd 2017-05-15
            %dl
              %dt 問い合せ先：
              %dd= link_to "NPO法人 海塾", "//www.umijuku.net/", target: "_blank"
        .element
          %h2 第11回 横浜ボートフィッシング大会シーバストーナメント
          %span.danger 終了
          %dl
            %dt 開催日:
            %dd 2017-11-03
          %dl
            %dt 問い合せ先：
            %dd= link_to "アイランドクルーズ", "//www.boatseabass.jp/"
        .element
          %h2 第32回 東京ベイ・シーバスゲーム・フェスティバル
          %span.danger 終了
          %dl
            %dt 開催日:
            %dd 2017-11
          %dl
            %dt 問い合せ先：
            %dd= link_to "JGFA", "//www.jgfa.or.jp/", target: "_blank"
        .element
          %h2 第11回 ハマ海杯
          %span.info 個人戦
          %span.info 募集中
          %dl
            %dt 開催日:
            %dd 2017-11-24,25,26
          %dl
            %dt 問い合せ先：
            %dd= link_to "ハマの海を想う会", "//sites.google.com/site/hamaumi/hamaumi-hai", target: "_blank"
        .element
          %h2 第18回 湾！GUN！シーバストーナメント
          %span.info チーム戦
          %span.info 準備中
          %dl
            %dt 開催日:
            %dd 2017-12-03
          %dl
            %dt 問い合せ先：
            %dd シーバスキャプテン 福永
