---
description: 横浜ベイエリアを拠点とし東京湾唯一無二のライブフィッシュ制ボートシーバスゲームルアートーナメント「BST」公式サイト。プロ・アマが年間5ラウンドを個人で戦う本格トーナメントです。参戦して頂けるアングラー・フィッシングガイド、協賛や後援していただけるメーカー様を随時募集しています。
---
= partial "shared/global_navigation", locals: {val: "top"}
#imagepanel_top
  #imagepanel_top_inner
    .slider.slider0
      %p
        東京湾
        %span
          No.1
        ボートシーバストーナメンターを決める
      %ul
        %li= link_to image_tag("img_bnr-suzukimarine.gif", alt: "スズキマリン様"), "http://suzukimarine.co.jp/", target: "_blank"
        %li= link_to image_tag("img_bnr-marinelicence.gif", alt: "マリンライセンスロイヤル様"), "http://www.marine-license.com/", target: "_blank"
    .slider.slider1
      %p
        プロとアマによる
        %span
          ガチ
        バトル！
      %ul
        %li= link_to image_tag("img_bnr-suzukimarine.gif", alt: "スズキマリン様"), "http://suzukimarine.co.jp/", target: "_blank"
        %li= link_to image_tag("img_bnr-marinelicence.gif", alt: "マリンライセンスロイヤル様"), "http://www.marine-license.com/", target: "_blank"
    .slider.slider2
      %p
        エントリー随時
        %span
          受付中
        ！！
      %ul
        %li= link_to image_tag("img_bnr-suzukimarine.gif", alt: "スズキマリン様"), "http://suzukimarine.co.jp/", target: "_blank"
        %li= link_to image_tag("img_bnr-marinelicence.gif", alt: "マリンライセンスロイヤル様"), "http://www.marine-license.com/", target: "_blank"
%article#content
  #content_inner
    #main_column.double
      %section#informations
        %h1
          %i.fa.fa-info-circle
          サイト管理者からのお知らせ
        %ul
          %li
            %i.fa.fa-caret-right
            お待たせしました！<a href="/results/2015/round2.html">第2戦</a>の結果等更新！不足データは追々更新いたします。
            %span
              (2015-03-11）
          %li
            %i.fa.fa-caret-right
            2015各戦上位3名は、コメント・タックルデータ・使用ルアーの情報共有をお願い致します。
        - if false
          .message
            %p
              %i.fa.fa-exclamation-triangle
              表示がおかしい時は「CTRL+SHIFT+Rキー(win IE以外)」or「command+shift+Rキー（mac）」を押してブラウザのキャッシュをクリアしてください。
      = partial "shared/events2015"
      %section#timetable
        %h1
          %i.fa.fa-clock-o
          タイムテーブル
        %p.section_summary
          各日程は基本的に以下のスケジュールで進行しますが
          %br
          気象状況等で変更となる場合は事前に告知・連絡致します。
        %table
          %thead
            %tr
              %th 時間軸
              %th イベント
          %tbody
            %tr
              %td 〜08:10
              %td
                参加費用5000円を納入し受付を完了させてください。
            %tr
              %td 08:15〜
              %td
                ライブウェルチェック：スタッフが参加艇のライブウェル（生け簀）をチェックします。
            %tr
              %td 08:20〜
              %td
                出船順抽選：くじ引きにより出船順を決めます。<br>
                キャプテンミーティング：ルールについての説明や当日の流れなどを説明します。
            %tr
              %td 08:40〜45
              %td
                スタート：くじ引きで決定した順に出船します。スローエリア離脱後、競技を開始してください。
                = image_tag "regulations/img_pic-deadslowarea.gif", alt: "デッドスローエリア", width: "300", height: "224"
            %tr
              %td 〜12:50
              %td
                ストップフィッシング：競技を終了し帰着時間までに帰港してください。
            %tr
              %td 13:30〜
              %td 検量：帰着順に検量を開始します。
            %tr
              %td 14:00〜
              %td 表彰式：昼食後、表彰式を行います。
    #sub_column
      %section#top_ranking
        %h1
          %i.fa.fa-list-ol
          ランキング
        %h2
          %i.fa.fa-chevron-right
          2015シリーズ（第2戦終了）
        %table
          %caption
            = link_to "/entry/" do
              %i.fa.fa-caret-right
              参加者募集中
          %thead
            %tr
              %th Rank
              %th Name
              %th Boat
              %th Pts
          %tbody
            %tr
              %td
                1
              %td 森田 英典
              %td リアル
              %td 170
            %tr
              %td
                1
              %td 遠藤 正明
              %td アイランドクルーズ
              %td 170
            %tr
              %td
                3
              %td 福永 雄海
              %td シーバスキャプテン
              %td 145
            %tr
              %td
                3
              %td 藤田 正明
              %td レンタル
              %td 145
        %h2
          %i.fa.fa-chevron-right
          2014シリーズ（全5戦）
        %table
          %caption
            = link_to "/rankings/2014.html" do
              %i.fa.fa-caret-right
              詳しくはこちら
          %thead
            %tr
              %th Rank
              %th Name
              %th Boat
              %th Pts
          %tbody
            %tr
              %td
                %i.fa.fa-trophy
              %td 大畠 拓
              %td シークロ
              %td 435
            %tr
              %td
                %i.fa.fa-trophy
              %td 柿澤 寛
              %td ストライカー
              %td 425
            %tr
              %td
                %i.fa.fa-trophy
              %td 福永 雄海
              %td シーバスキャプテン
              %td 385
        %h2
          %i.fa.fa-chevron-right
          2013シリーズ（全4戦）
        %table
          %caption
            = link_to "/rankings/2013.html" do
              %i.fa.fa-caret-right
              詳しくはこちら
          %thead
            %tr
              %th Rank
              %th Name
              %th Boat
              %th Pts
          %tbody
            %tr
              %td
                %i.fa.fa-trophy
              %td 柿澤 寛
              %td ストライカー
              %td 360
            %tr
              %td
                %i.fa.fa-trophy
              %td 森田 英典
              %td リアル
              %td 355
            %tr
              %td
                %i.fa.fa-trophy
              %td 福永 雄海
              %td シーバスキャプテン
              %td 350
      = partial "shared/blog_info"
      %section#other_tournament
        %h1
          %i.fa.fa-check
          その他トーナメント情報
        %p.section_summary
          BST以外の横浜周辺で開催されるボートシーバストーナメント情報です。
        .element
          %h2 第4回 G.O.M. ワーム限定ボートシーバストーナメント
          %span.danger 終了
          %dl
            %dt 開催日:
            %dd 2015-02-22
          %dl
            %dt 詳細：
            %dd= link_to "ハマの海を想う会", "//sites.google.com/site/hamaumi/g-o-m", target: "_blank"
        .element
          %h2 第8回 TOKYO BAY CUP
          %span.success 受付中
          %dl
            %dt 開催日:
            %dd 2015-05-24
          %dl
            %dt 詳細・エントリー：
            %dd= link_to "公式サイト", "//www.umijuku.net/tbc/entry/", target: "_blank"
        .element
          %h2 第31回 東京ベイ・シーバスゲーム・フェスティバル
          %span.warning JGFA会員限定
          %span.info チーム戦
          %dl
            %dt 開催日:
            %dd 2015-10予定
          %dl
            %dt 問い合せ先：
            %dd= link_to "JGFA", "//www.jgfa.or.jp/", target: "_blank"
        .element
          %h2 第9回 横浜ボートフィッシング大会シーバストーナメント
          %span.warning JGFA会員限定
          %span.info チーム戦
          %dl
            %dt 開催日:
            %dd 2015-11-03
          %dl
            %dt 問い合せ先：
            %dd アイランドクルーズ 遠藤
        .element
          %h2 第9回 ハマ海杯
          %span.info フライOK
          %span.info ショアOK
          %dl
            %dt 開催日:
            %dd 2015-11予定
          %dl
            %dt 問い合せ先：
            %dd= link_to "ハマの海を想う会", "//sites.google.com/site/hamaumi/", target: "_blank"
        .element
          %h2 第18回 湾！GUN！シーバストーナメント
          %span.warning JGFA会員限定
          %span.warning ルアー制限有
          %span.info チーム戦
          %dl
            %dt 開催日:
            %dd 2015-12予定
          %dl
            %dt 問い合せ先：
            %dd シーバスキャプテン 福永
